cell_08.rnc

# RELAX NG schema for a single cell (class Input).
#
# Copyright (C) 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023 Gregory W. Chicares.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software Foundation,
# Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
#
# https://savannah.nongnu.org/projects/lmi
# email: <gchicares@sbcglobal.net>
# snail: Chicares, 186 Belle Woods Drive, Glastonbury CT 06033, USA

# This schema is meant not for standalone use, but rather for
# inclusion from other schemata.

# Inforce data from external systems should use default values for
# elements marked with an asterisk.

cell_element = element cell
    {attribute version {"8"}

    ,## Accidental death benefit: elected or not.
     element AccidentalDeathBenefit           {yes_or_no}
    ,## Insured's address: number and street.
     element Address                          {text}
    ,## Agent's address: number and street.
     element AgentAddress                     {text}
    ,## Agent's address: city.
     element AgentCity                        {text}
    ,## Agent ID code.
     element AgentId                          {text}
    ,## Agent's full name.
     element AgentName                        {text}
    ,## Agent's phone number.
     element AgentPhone                       {text}
    ,## Agent's address: state.
     element AgentState                       {state}
    ,## Agent's address: zip code.
     element AgentZipCode                     {text}
    ,## * Amortize premium load (occasionally used for BOLI).
     element AmortizePremiumLoad              {yes_or_no}
    ,## * Special logic, if any, to avoid a MEC.
     element AvoidMecMethod                   {mec_avoid_method}
    ,## Custom-blend rates by gender.
     element BlendGender                      {yes_or_no}
    ,## Custom-blend rates by smoking.
     element BlendSmoking                     {yes_or_no}
    ,## Negative surrender charge as proportion of total account
     ## value. Default: '0'.
     element CashValueEnhancementRate         {numeric_sequence}
    ,## Child(ren) term rider: elected or not.
     element ChildRider                       {yes_or_no}
    ,## Child(ren) term rider: face amount.
     element ChildRiderAmount                 {nonnegative_double}
    ,## Insured's address: city.
     element City                             {text}
    ,## * Free-form comments.
     element Comments                         {text}
    ,## Contract number: a unique identifier, which, although usually
     ## called a "number", is often not purely numeric.
     element ContractNumber                   {text}
    ,## Corporation's address: number and street.
     element CorporationAddress               {text}
    ,## Corporation's address: city.
     element CorporationCity                  {text}
    ,## Corporation's name.
     element CorporationName                  {text}
    ,## Corporation's planned premium. Default: '0'.
     element CorporationPayment               {payment_sequence}
    ,## Corporation's premium mode. Default: 'annual'.
     element CorporationPaymentMode           {mode_sequence}
    ,## * Corporation's tabular-premium multiplier. Default: '1'.
     element CorporationPremiumTableFactor    {nonnegative_double}
    ,## Corporation's address: state.
     element CorporationState                 {state}
    ,## * Corporation's tax bracket. Default: '0'.
     element CorporationTaxBracket            {numeric_sequence}
    ,## Corporation's address: zip code.
     element CorporationZipCode               {text}
    ,## Insured's address: country. Default: 'US'.
     element Country                          {country}
    ,## COI multiplier for country. Default: '1'.
     element CountryCoiMultiplier             {nonnegative_double}
    ,## * User-designed supplemental illustration: elected or not.
     element CreateSupplementalReport         {yes_or_no}
    ,## Multiplier for current COI rates. Default: '1'.
     element CurrentCoiMultiplier             {numeric_sequence}
    ,## Insured's date of birth.
     element DateOfBirth                      {calendar_date_int}
    ,## Death benefit option. Default: 'a'.
     element DeathBenefitOption               {dbo_sequence}
    ,## * [obsolete]
     element DeathBenefitOptionFromIssue      {dbopt}?
    ,## * [obsolete]
     element DeathBenefitOptionFromRetirement {dbopt}?
    ,## 7702 definitional test.
     element DefinitionOfLifeInsurance        {defn_life_ins}
    ,## * 7702A definition of material change. Default:
     ## 'GPT adjustment event' if GPT; else 'Unnecessary premium'.
     element DefinitionOfMaterialChange       {defn_material_change}
    ,## * Dump-in: i.e., first-year-only extra premium other than a 1035 exchange.
     element Dumpin                           {nonnegative_double}
    ,## Effective date: for UL, date of first monthly deduction.
     element EffectiveDate                    {calendar_date_int}
    ,## * Use today's date as effective date: handy for new business.
     element EffectiveDateToday               {yes_or_no}
    ,## * Employee class, used for grouping individuals in order to
     ## make input easier. E.g., specified amount for 'partners' might
     ## be two times salary, while 'all others' get a flat $50K.
     element EmployeeClass                    {text}
    ,## Factor for amortizing mortality profit into future charges.
     ## Default: '1'.
     element ExperienceRatingInitialKFactor   {nonnegative_double}
    ,## Overridden reserve rate for experience rating.
     element ExperienceReserveRate            {proportion_double}
    ,## * Amount of 1035 exchange from a different insurer.
     element External1035ExchangeAmount       {nonnegative_double}
    ,## * MEC status of 1035 exchange from a different insurer.
     element External1035ExchangeFromMec      {yes_or_no}
    ,## * Tax basis of 1035 exchange from a different insurer.
     element External1035ExchangeTaxBasis     {xsd:double}
    ,## Extra charge on separate-account assets. The motivation is to
     ## let end users add a negotiated asset trailer without changing
     ## the product database, but the field may be used for any extra
     ## charge in the nature of M&E. Default: '0'.
     element ExtraCompensationOnAssets        {numeric_sequence}
    ,## Extra premium load. The motivation is to let end users add a
     ## negotiated commission without changing the product database,
     ## but the field may be used for any extra load on premium.
     ## Default: '0'.
     element ExtraCompensationOnPremium       {numeric_sequence}
    ,## Extra policy fee. The motivation is to let end users add an
     ## additional monthly custodial fee for a custom fund, but the
     ## field may be used for any extra monthly fee. Default: '0'.
     element ExtraMonthlyCustodialFee         {numeric_sequence}
    ,## Annual flat extra per thousand of specified amount. Default: '0'.
     element FlatExtra                        {numeric_sequence}
    ,## * As yet unused.
     element FundAllocations                  {text}
    ,## * Fund-allocation override.
     element FundChoiceType                   {fund_input_method}
    ,## Insured's gender for insurance purposes.
     element Gender                           {gender}
    ,## General-account interest rate as a decimal: e.g., '.03' for
     ## 3%. Default: actual credited rate; '0' for products with no
     ## general-account option.
     element GeneralAccountRate               {numeric_sequence}
    ,## * General-account rate: before or after spread.
     element GeneralAccountRateType           {gen_acct_rate_type}
    ,## Type of underwriting, e.g. guaranteed issue.
     element GroupUnderwritingType            {uw_basis}
    ,## Honeymoon: elected or not. This is a temporary secondary
     ## guarantee that enhances surrender values in early years, by
     ## setting a minimum CSV equal to gross premium accumulated at a
     ## special interest rate, with no monthly deductions taken.
     element HoneymoonEndorsement             {yes_or_no}
    ,## Interest spread for honeymoon value, which grows at the net
     ## general account rate less this decrement. Default: '0'.
     element HoneymoonValueSpread             {numeric_sequence}
    ,## * Include this life in composite: permits excluding certain
     ## lives from a composite without deleting them from a census.
     ## Default: 'Yes'.
     element IncludeInComposite               {yes_or_no}
    ,## * [obsolete]
     element IndividualPaymentAmount          {nonnegative_double}?
    ,## * [obsolete]
     element IndividualPaymentMode            {mode}?
    ,## * [obsolete]
     element IndividualPaymentStrategy        {pmt_strategy}
    ,## * [obsolete]
     element IndividualPaymentToAge           {age_int}?
    ,## * [obsolete]
     element IndividualPaymentToAlternative   {to_point}?
    ,## * [obsolete]
     element IndividualPaymentToDuration      {duration_int}?
    ,## 7702A "amounts paid" for each "contract year" since beginning
     ## of most recent seven-pay period. Default: '0' if not in a
     ## seven-pay period.
     element Inforce7702AAmountsPaidHistory   {numeric_sequence}
    ,## Inforce annual target premium.
     element InforceAnnualTargetPremium       {nonnegative_double}
    ,## Date as of which inforce values are provided. This is taken to
     ## refer to the first moment of the day, before monthiversary
     ## processing. Some admin systems find it more convenient to
     ## provide values as of the last moment of the preceding day; in
     ## that case, this field should indicate the day following that
     ## preceding day, i.e., the day monthiversary processing occurs.
     element InforceAsOfDate                  {calendar_date_int}
    ,## Inforce account value before last material change, for 7702A.
     element InforceAvBeforeLastMc            {nonnegative_double}
    ,## * [obsolete]
     element InforceContractMonth             {month_int}
    ,## * [obsolete]
     element InforceContractYear              {duration_int}
    ,## Corporation's inforce stake in a benefit plan (e.g., amount of
     ## a full split-dollar rollout): cumulative corporation payments,
     ## plus accumulated interest if interest not paid in cash.
     element InforceCorporationStake          {nonnegative_double}
    ,## Inforce cumulative 7702 guideline level premium.
     element InforceCumulativeGlp             {xsd:double}
    ,## Inforce cumulative 7702(f)(1) 'premiums paid'.
     element InforceCumulativeGptPremiumsPaid {xsd:double}
    ,## Inforce cumulative payments for no-lapse guarantee: sum of all
     ## gross premiums, including dump-ins and 1035 exchange proceeds,
     ## minus rider charges, withdrawals, and premiums refunded or
     ## forced out.
     element InforceCumulativeNoLapsePayments {nonnegative_double}
    ,## Inforce cumulative no-lapse premium, for contracts that offer
     ## a no-lapse guarantee as long as a cumulative minimum premium
     ## is paid.
     element InforceCumulativeNoLapsePremium  {nonnegative_double}
    ,## Inforce cumulative payments for return of premium death
     ## benefit option and for loads banded by cumulative premium:
     ## sum of all gross premiums, including dump-ins and 1035
     ## exchange proceeds, minus withdrawals and premiums refunded
     ## or forced out.
     element InforceCumulativeRopPayments     {nonnegative_double}
    ,## Inforce cumulative refundable sales load.
     element InforceCumulativeSalesLoad       {nonnegative_double}
    ,## Vendor identifier for files from an external system.
     element InforceDataSource                {xsd:nonNegativeInteger}
    ,## Inforce 7702A deemed cash value.
     element InforceDcv                       {nonnegative_double}
    ,## Inforce unloaned account value in the general account.
     element InforceGeneralAccountValue       {nonnegative_double}
    ,## Inforce 7702 guideline level premium.
     element InforceGlp                       {xsd:double}
    ,## Inforce 7702 guideline single premium.
     element InforceGsp                       {xsd:double}
    ,## Inforce honeymoon value. Zero if honeymoon has expired or
     ## was never present.
     element InforceHoneymoonValue            {nonnegative_double}
    ,## MEC status of inforce contract.
     element InforceIsMec                     {yes_or_no}
    ,## Inforce 7702A least death benefit.
     element InforceLeastDeathBenefit         {nonnegative_double}
    ,## * [obsolete]
     element InforceMonth                     {month_int}
    ,## Monthly premium required to maintain no-lapse guarantee.
     element InforceMonthlyNoLapsePremium     {nonnegative_double}
    ,## Inforce net reserve for experience rating.
     element InforceNetExperienceReserve      {xsd:double}
    ,## No-lapse guarantee is in effect.
     element InforceNoLapseActive             {yes_or_no}
    ,## Inforce balance (total indebtedness) for preferred loans:
     ## the amount that must be repaid to liquidate the loan.
     element InforcePreferredLoanBalance      {nonnegative_double}
    ,## Inforce loaned account value for preferred loans, including
     ## principal and interest credited, but excluding interest
     ## accrued: the portion of account value held in the loan
     ## division of the general account with respect to the loan.
     element InforcePreferredLoanValue        {nonnegative_double}
    ,## Inforce balance (total indebtedness) for regular loans:
     ## the amount that must be repaid to liquidate the loan.
     element InforceRegularLoanBalance        {nonnegative_double}
    ,## Inforce loaned account value for regular loans, including
     ## principal and interest credited, but excluding interest
     ## accrued: the portion of account value held in the loan
     ## division of the general account with respect to the loan.
     element InforceRegularLoanValue          {nonnegative_double}
    ,## Inforce account value in all separate accounts, combined.
     element InforceSeparateAccountValue      {nonnegative_double}
    ,## Inforce 7702A seven-pay premium.
     element InforceSevenPayPremium           {nonnegative_double}
    ,## Amount on which specified-amount load is charged, with due
     ## regard to term rider and corridor.
     element InforceSpecAmtLoadBase           {nonnegative_double}
    ,## Inforce tax basis.
     element InforceTaxBasis                  {xsd:double}
    ,## * [obsolete]
     element InforceYear                      {duration_int}
    ,## Policy-year-to-date payments counted toward target premium.
     element InforceYtdGrossPremium           {nonnegative_double}
    ,## Policy-year-to-date "net" COI charge for experience rating.
     element InforceYtdNetCoiCharge           {nonnegative_double}
    ,## Policy-year-to-date payments subject to premium tax.
     element InforceYtdTaxablePremium         {nonnegative_double}
    ,## * Investment management fee of a custom fund.
     element InputFundManagementFee           {nonnegative_double}
    ,## Insured's full name.
     element InsuredName                      {text}
    ,## * Insured's tabular-premium multiplier. Default: '1'.
     element InsuredPremiumTableFactor        {nonnegative_double}
    ,## * Amount of 1035 exchange from the same insurer; distinguished
     ## from external 1035 because an internal exchange may not be
     ## subject to premium tax.
     element Internal1035ExchangeAmount       {nonnegative_double}
    ,## * MEC status of 1035 exchange from the same insurer.
     element Internal1035ExchangeFromMec      {yes_or_no}
    ,## * Tax basis of 1035 exchange from the same insurer.
     element Internal1035ExchangeTaxBasis     {xsd:double}
    ,## Insurance age on effective date.
     element IssueAge                         {age_int}
    ,## Most recent group-underwriting date, for group contracts that
     ## reenter a select and ultimate table of COI rates periodically
     ## upon successful re-underwriting (for active lives only).
     ## Default: effective date, for contracts with no reentry.
     element LastCoiReentryDate               {calendar_date_int}
    ,## Date of most recent 7702A material change. Default: effective
     ## date, for contracts that have never had a material change.
     element LastMaterialChangeDate           {calendar_date_int}
    ,## Date of a list bill generated by the illustration system.
     ## Default: the value of 'InforceAsOfDate'.
     element ListBillDate                     {calendar_date_int}?
    ,## * [obsolete]
     element LoanAmount                       {nonnegative_double}?
    ,## * [obsolete]
     element LoanFromAge                      {age_int}?
    ,## * [obsolete]
     element LoanFromAlternative              {from_point}?
    ,## * [obsolete]
     element LoanFromDuration                 {duration_int}?
    ,## Loan interest rate, if it is variable. Default: '0' otherwise.
     element LoanRate                         {proportion_double}
    ,## Loan rate: fixed or variable.
     element LoanRateType                     {loan_rate_type}
    ,## * [obsolete]
     element LoanToAge                        {age_int}?
    ,## * [obsolete]
     element LoanToAlternative                {to_point}?
    ,## * [obsolete]
     element LoanToDuration                   {duration_int}?
    ,## Proportion of males when rates are custom-blended by gender.
     ## Default: '0' otherwise.
     element MaleProportion                   {proportion_double}
    ,## Group master contract number.
     element MasterContractNumber             {text}
    ,## Maximum net amount at risk, as constrained by reinsurance.
     ## Some contracts in the high-net-worth market force money out to
     ## prevent corridor death benefit from exceeding available
     ## reinsurance. Default: '1000000000'.
     element MaximumNaar                      {nonnegative_double}
    ,## * New loan taken in cash (excluding capitalized interest).
     ## Default: '0'.
     element NewLoan                          {numeric_sequence}
    ,## Proportion of nonsmokers when rates are custom-blended by
     ## smoking. Default: '0' otherwise.
     element NonsmokerProportion              {proportion_double}
    ,## * Number of identical lives represented by a single census
     ## cell. It is sometimes convenient to approximate a population
     ## by specifying a few cells and indicating the number of lives
     ## each one represents. Default: '1'.
     element NumberOfIdenticalLives           {xsd:nonNegativeInteger}
    ,## * Override country COI multiplier. Default: 'Yes'.
     element OverrideCoiMultiplier            {yes_or_no}
    ,## Override reserve rate for experience rating. Default: 'Yes'.
     element OverrideExperienceReserveRate    {yes_or_no}
    ,## * Override investment management fee: used only with custom funds.
     element OverrideFundManagementFee        {yes_or_no}
    ,## * Multiplier applied to partial-mortality table. Default: '1'.
     element PartialMortalityMultiplier       {numeric_sequence}
    ,## Insured's planned premium. Default: '0'.
     element Payment                          {payment_sequence}
    ,## Insured's premium mode. Default: 'annual'.
     element PaymentMode                      {mode_sequence}
    ,## Interest decrement applied to crediting rate after the
     ## honeymoon expires--designed to recover the cost of providing
     ## the honeymoon.
     element PostHoneymoonSpread              {proportion_double}
    ,## State to which premium tax is paid.
     element PremiumTaxState                  {state}
    ,## Product (plan): enumerators depend on run-time context.
     element ProductName                      {text}
    ,## * Projected salary: used for salary-based benefits. Default: '0'.
     element ProjectedSalary                  {numeric_sequence}
    ,## * Retirees allowed to enroll (or not). This is handy for
     ## warning when retirees are unintentionally included in a
     ## census. Default: 'Yes'.
     element RetireesCanEnroll                {yes_or_no}
    ,## * Insured's retirement age. Default: '65'.
     element RetirementAge                    {age_int}
    ,## * Order in which different individuals in a census are
     ## processed.
     element RunOrder                         {run_order}
    ,## * Maximum salary-based specified amount. Default: '100000'.
     element SalarySpecifiedAmountCap         {nonnegative_double}
    ,## * Salary multiple used to determine specified amount. Default: '1'.
     element SalarySpecifiedAmountFactor      {nonnegative_double}
    ,## * Amount to be subtracted from salary-based specified amount,
     ## intended to represent basic group term coverage. Default: '50000'.
     element SalarySpecifiedAmountOffset      {nonnegative_double}
    ,## * Separate-account hypothetical rate as a decimal: e.g.,
     ## '.0654' for 6.54%. Default: '.08'.
     element SeparateAccountRate              {numeric_sequence}
    ,## * Separate-account rate: before or after spread. Default: 'Gross rate'.
     element SeparateAccountRateType          {sep_acct_rate_type}
    ,## Insured's smoking or tobacco use.
     element Smoking                          {smoking}
    ,## * Age at which a solve begins  (inclusive).
     element SolveBeginTime                   {duration_int}
    ,## * Policy year in which a solve begins (inclusive).
     element SolveBeginYear                   {duration_int}
    ,## * Age at which a solve ends (exclusive).
     element SolveEndTime                     {duration_int}
    ,## * Policy year at which a solve ends (exclusive).
     element SolveEndYear                     {duration_int}
    ,## * Expense and general-account basis for a solve: lmi permits
     ## solves on guaranteed and midpoint bases as well as current.
     element SolveExpenseGeneralAccountBasis  {gen_basis}
    ,## * Point at which a solve begins.
     element SolveFromWhich                   {from_point}
    ,## * Separate-account basis for a solve: lmi permits solves on
     ## the basis of the hypothetical rate, half that rate, or zero.
     element SolveSeparateAccountBasis        {sep_basis}
    ,## * Solve goal.
     element SolveTarget                      {solve_target}
    ,## * Cash surrender value used as solve goal.
     element SolveTargetCashSurrenderValue    {nonnegative_double}
    ,## * Age at which a solve target is to be achieved.
     element SolveTargetTime                  {duration_int}
    ,## * Policy year in which a solve target is to be achieved.
     element SolveTargetYear                  {duration_int}
    ,## * Point at which a solve target is to be achieved.
     element SolveTgtAtWhich                  {to_point}
    ,## * Point at which a solve ends.
     element SolveToWhich                     {to_point}
    ,## * Parameter to be solved for.
     element SolveType                        {solve_type}
    ,## Specified amount for each policy year since issue. Inforce
     ## extracts require only the current scalar value. Default: '0'.
     element SpecifiedAmount                  {specamt_sequence}
    ,## * [obsolete]
     element SpecifiedAmountFromIssue         {nonnegative_double}?
    ,## * [obsolete]
     element SpecifiedAmountFromRetirement    {nonnegative_double}?
    ,## * [obsolete]
     element SpecifiedAmountStrategyFromIssue {sa_strategy}
    ,## * Accumulate interest at demand-loan rate for split dollar,
     ## rather than paying it in cash.
     element SplitDollarAccumulateInterest    {yes_or_no}
    ,## * Split-dollar annual demand-loan rate (typically the AFR).
     element SplitDollarLoanRate              {numeric_sequence}
    ,## * Split-dollar rollout age.
     element SplitDollarRolloutAge            {duration_int}
    ,## * Point at which split-dollar rollout is planned.
     element SplitDollarRolloutAtWhich        {to_point}
    ,## * Split-dollar rollout duration.
     element SplitDollarRolloutYear           {duration_int}
    ,## Spouse's insurance age on effective date of spouse rider.
     ## Default: '35' if rider not elected or not offered.
     element SpouseIssueAge                   {age_int}
    ,## Spouse term rider: elected or not.
     element SpouseRider                      {yes_or_no}
    ,## Spouse term rider: face amount.
     element SpouseRiderAmount                {nonnegative_double}
    ,## Insured's address: state.
     element State                            {state}
    ,## State that approves policy form and rate filing, and governs
     ## everything else except premium tax.
     element StateOfJurisdiction              {state}
    ,## Substandard table rating.
     element SubstandardTable                 {table_rating}
    ,## * Built-in supplemental illustration type.
     element SupplementalIllustrationType     {suppl_illus_type}
    ,## * User-designed supplemental illustration: first column.
     element SupplementalReportColumn00       {report_column}
    ,## * User-designed supplemental illustration: second column.
     element SupplementalReportColumn01       {report_column}
    ,## * User-designed supplemental illustration: third column.
     element SupplementalReportColumn02       {report_column}
    ,## * User-designed supplemental illustration: fourth column.
     element SupplementalReportColumn03       {report_column}
    ,## * User-designed supplemental illustration: fifth column.
     element SupplementalReportColumn04       {report_column}
    ,## * User-designed supplemental illustration: sixth column.
     element SupplementalReportColumn05       {report_column}
    ,## * User-designed supplemental illustration: seventh column.
     element SupplementalReportColumn06       {report_column}
    ,## * User-designed supplemental illustration: eighth column.
     element SupplementalReportColumn07       {report_column}
    ,## * User-designed supplemental illustration: ninth column.
     element SupplementalReportColumn08       {report_column}
    ,## * User-designed supplemental illustration: tenth column.
     element SupplementalReportColumn09       {report_column}
    ,## * User-designed supplemental illustration: eleventh column.
     element SupplementalReportColumn10       {report_column}
    ,## * User-designed supplemental illustration: twelfth column.
     element SupplementalReportColumn11       {report_column}
    ,## Supplemental specified amount (e.g., individually-elected
     ## extra coverage on a group plan) for each policy year since
     ## issue. Inforce extracts require only the current scalar value.
     ## Default: '0'.
     element SupplementalSpecifiedAmount      {specamt_sequence}
    ,## * Presumed age at death, for partial mortality. Default: '99'.
     element SurviveToAge                     {age_int}
    ,## * Presumed moment of death, for partial mortality.
     element SurviveToType                    {survival_limit}
    ,## * Presumed policy year of death, for partial mortality. Default: '100'.
     element SurviveToYear                    {duration_int}
    ,## * Insured's tax bracket. Default: '0'.
     element TaxBracket                       {numeric_sequence}
    ,## * Order in which term and base are affected by changes in
     ## total specified amount.
     element TermAdjustmentMethod             {term_adj_method}
    ,## Term rider on main insured: elected or not.
     element TermRider                        {yes_or_no}
    ,## Term rider on main insured: face amount.
     element TermRiderAmount                  {nonnegative_double}
    ,## * Term rider as proportion of term and base combined.
     element TermRiderProportion              {proportion_double}
    ,## * Treat term rider as proportion of term and base combined.
     element TermRiderUseProportion           {yes_or_no}
    ,## * Initial specified amount of term and base combined, when
     ## term rider is specified as a proportion of this total.
     element TotalSpecifiedAmount             {nonnegative_double}
    ,## Underwriting class. Default: 'Standard'.
     element UnderwritingClass                {class}
    ,## * Use mean separate-account fee.
     element UseAverageOfAllFunds             {yes_or_no}
    ,## * Use current declared rate (read from authenticated database)
     ## instead of entering the crediting rate explicitly. Default: 'Yes'.
     element UseCurrentDeclaredRate           {yes_or_no}
    ,## * Let date of birth override issue age. Default: 'Yes'.
     element UseDOB                           {yes_or_no}
    ,## Use experience rating, on the few contracts that offer it.
     element UseExperienceRating              {yes_or_no}
    ,## * Illustrate "partial mortality": i.e., reflect assumed deaths
     ## in a composite illustration.
     element UsePartialMortality              {yes_or_no}
    ,## Waiver of premium benefit: elected or not.
     element WaiverOfPremiumBenefit           {yes_or_no}
    ,## * Reinterpret input withdrawals as loans after tax basis recovered.
     element WithdrawToBasisThenLoan          {yes_or_no}
    ,## * Partial surrender. Default: '0'.
     element Withdrawal                       {numeric_sequence}
    ,## * [obsolete]
     element WithdrawalAmount                 {nonnegative_double}?
    ,## * [obsolete]
     element WithdrawalFromAge                {age_int}?
    ,## * [obsolete]
     element WithdrawalFromAlternative        {from_point}?
    ,## * [obsolete]
     element WithdrawalFromDuration           {duration_int}?
    ,## * [obsolete]
     element WithdrawalToAge                  {age_int}?
    ,## * [obsolete]
     element WithdrawalToAlternative          {to_point}?
    ,## * [obsolete]
     element WithdrawalToDuration             {duration_int}?
    ,## Insured's address: zip code.
     element ZipCode                          {text}
    }

include "types_08.rnc"
