cell_08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="types_08.xsd"/>
  <!--
    RELAX NG schema for a single cell (class Input).

    Copyright (C) 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022 Gregory W. Chicares.

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License version 2 as
    published by the Free Software Foundation.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software Foundation,
    Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA

    https://savannah.nongnu.org/projects/lmi
    email: <gchicares@sbcglobal.net>
    snail: Chicares, 186 Belle Woods Drive, Glastonbury CT 06033, USA
  -->
  <!--
    This schema is meant not for standalone use, but rather for
    inclusion from other schemata.
  -->
  <!--
    Inforce data from external systems should use default values for
    elements marked with an asterisk.
  -->
  <xs:complexType name="cell_element">
    <xs:sequence>
      <xs:element ref="cell"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cell">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AccidentalDeathBenefit"/>
        <xs:element ref="Address"/>
        <xs:element ref="AgentAddress"/>
        <xs:element ref="AgentCity"/>
        <xs:element ref="AgentId"/>
        <xs:element ref="AgentName"/>
        <xs:element ref="AgentPhone"/>
        <xs:element ref="AgentState"/>
        <xs:element ref="AgentZipCode"/>
        <xs:element ref="AmortizePremiumLoad"/>
        <xs:element ref="AvoidMecMethod"/>
        <xs:element ref="BlendGender"/>
        <xs:element ref="BlendSmoking"/>
        <xs:element ref="CashValueEnhancementRate"/>
        <xs:element ref="ChildRider"/>
        <xs:element ref="ChildRiderAmount"/>
        <xs:element ref="City"/>
        <xs:element ref="Comments"/>
        <xs:element ref="ContractNumber"/>
        <xs:element ref="CorporationAddress"/>
        <xs:element ref="CorporationCity"/>
        <xs:element ref="CorporationName"/>
        <xs:element ref="CorporationPayment"/>
        <xs:element ref="CorporationPaymentMode"/>
        <xs:element ref="CorporationPremiumTableFactor"/>
        <xs:element ref="CorporationState"/>
        <xs:element ref="CorporationTaxBracket"/>
        <xs:element ref="CorporationZipCode"/>
        <xs:element ref="Country"/>
        <xs:element ref="CountryCoiMultiplier"/>
        <xs:element ref="CreateSupplementalReport"/>
        <xs:element ref="CurrentCoiMultiplier"/>
        <xs:element ref="DateOfBirth"/>
        <xs:element ref="DeathBenefitOption"/>
        <xs:element minOccurs="0" ref="DeathBenefitOptionFromIssue"/>
        <xs:element minOccurs="0" ref="DeathBenefitOptionFromRetirement"/>
        <xs:element ref="DefinitionOfLifeInsurance"/>
        <xs:element ref="DefinitionOfMaterialChange"/>
        <xs:element ref="Dumpin"/>
        <xs:element ref="EffectiveDate"/>
        <xs:element ref="EffectiveDateToday"/>
        <xs:element ref="EmployeeClass"/>
        <xs:element ref="ExperienceRatingInitialKFactor"/>
        <xs:element ref="ExperienceReserveRate"/>
        <xs:element ref="External1035ExchangeAmount"/>
        <xs:element ref="External1035ExchangeFromMec"/>
        <xs:element ref="External1035ExchangeTaxBasis"/>
        <xs:element ref="ExtraCompensationOnAssets"/>
        <xs:element ref="ExtraCompensationOnPremium"/>
        <xs:element ref="ExtraMonthlyCustodialFee"/>
        <xs:element ref="FlatExtra"/>
        <xs:element ref="FundAllocations"/>
        <xs:element ref="FundChoiceType"/>
        <xs:element ref="Gender"/>
        <xs:element ref="GeneralAccountRate"/>
        <xs:element ref="GeneralAccountRateType"/>
        <xs:element ref="GroupUnderwritingType"/>
        <xs:element ref="HoneymoonEndorsement"/>
        <xs:element ref="HoneymoonValueSpread"/>
        <xs:element ref="IncludeInComposite"/>
        <xs:element minOccurs="0" ref="IndividualPaymentAmount"/>
        <xs:element minOccurs="0" ref="IndividualPaymentMode"/>
        <xs:element ref="IndividualPaymentStrategy"/>
        <xs:element minOccurs="0" ref="IndividualPaymentToAge"/>
        <xs:element minOccurs="0" ref="IndividualPaymentToAlternative"/>
        <xs:element minOccurs="0" ref="IndividualPaymentToDuration"/>
        <xs:element ref="Inforce7702AAmountsPaidHistory"/>
        <xs:element ref="InforceAnnualTargetPremium"/>
        <xs:element ref="InforceAsOfDate"/>
        <xs:element ref="InforceAvBeforeLastMc"/>
        <xs:element ref="InforceContractMonth"/>
        <xs:element ref="InforceContractYear"/>
        <xs:element ref="InforceCorporationStake"/>
        <xs:element ref="InforceCumulativeGlp"/>
        <xs:element ref="InforceCumulativeGptPremiumsPaid"/>
        <xs:element ref="InforceCumulativeNoLapsePayments"/>
        <xs:element ref="InforceCumulativeNoLapsePremium"/>
        <xs:element ref="InforceCumulativeRopPayments"/>
        <xs:element ref="InforceCumulativeSalesLoad"/>
        <xs:element ref="InforceDataSource"/>
        <xs:element ref="InforceDcv"/>
        <xs:element ref="InforceGeneralAccountValue"/>
        <xs:element ref="InforceGlp"/>
        <xs:element ref="InforceGsp"/>
        <xs:element ref="InforceHoneymoonValue"/>
        <xs:element ref="InforceIsMec"/>
        <xs:element ref="InforceLeastDeathBenefit"/>
        <xs:element ref="InforceMonth"/>
        <xs:element ref="InforceMonthlyNoLapsePremium"/>
        <xs:element ref="InforceNetExperienceReserve"/>
        <xs:element ref="InforceNoLapseActive"/>
        <xs:element ref="InforcePreferredLoanBalance"/>
        <xs:element ref="InforcePreferredLoanValue"/>
        <xs:element ref="InforceRegularLoanBalance"/>
        <xs:element ref="InforceRegularLoanValue"/>
        <xs:element ref="InforceSeparateAccountValue"/>
        <xs:element ref="InforceSevenPayPremium"/>
        <xs:element ref="InforceSpecAmtLoadBase"/>
        <xs:element ref="InforceTaxBasis"/>
        <xs:element ref="InforceYear"/>
        <xs:element ref="InforceYtdGrossPremium"/>
        <xs:element ref="InforceYtdNetCoiCharge"/>
        <xs:element ref="InforceYtdTaxablePremium"/>
        <xs:element ref="InputFundManagementFee"/>
        <xs:element ref="InsuredName"/>
        <xs:element ref="InsuredPremiumTableFactor"/>
        <xs:element ref="Internal1035ExchangeAmount"/>
        <xs:element ref="Internal1035ExchangeFromMec"/>
        <xs:element ref="Internal1035ExchangeTaxBasis"/>
        <xs:element ref="IssueAge"/>
        <xs:element ref="LastCoiReentryDate"/>
        <xs:element ref="LastMaterialChangeDate"/>
        <xs:element minOccurs="0" ref="ListBillDate"/>
        <xs:element minOccurs="0" ref="LoanAmount"/>
        <xs:element minOccurs="0" ref="LoanFromAge"/>
        <xs:element minOccurs="0" ref="LoanFromAlternative"/>
        <xs:element minOccurs="0" ref="LoanFromDuration"/>
        <xs:element ref="LoanRate"/>
        <xs:element ref="LoanRateType"/>
        <xs:element minOccurs="0" ref="LoanToAge"/>
        <xs:element minOccurs="0" ref="LoanToAlternative"/>
        <xs:element minOccurs="0" ref="LoanToDuration"/>
        <xs:element ref="MaleProportion"/>
        <xs:element ref="MasterContractNumber"/>
        <xs:element ref="MaximumNaar"/>
        <xs:element ref="NewLoan"/>
        <xs:element ref="NonsmokerProportion"/>
        <xs:element ref="NumberOfIdenticalLives"/>
        <xs:element ref="OverrideCoiMultiplier"/>
        <xs:element ref="OverrideExperienceReserveRate"/>
        <xs:element ref="OverrideFundManagementFee"/>
        <xs:element ref="PartialMortalityMultiplier"/>
        <xs:element ref="Payment"/>
        <xs:element ref="PaymentMode"/>
        <xs:element ref="PostHoneymoonSpread"/>
        <xs:element ref="PremiumTaxState"/>
        <xs:element ref="ProductName"/>
        <xs:element ref="ProjectedSalary"/>
        <xs:element ref="RetireesCanEnroll"/>
        <xs:element ref="RetirementAge"/>
        <xs:element ref="RunOrder"/>
        <xs:element ref="SalarySpecifiedAmountCap"/>
        <xs:element ref="SalarySpecifiedAmountFactor"/>
        <xs:element ref="SalarySpecifiedAmountOffset"/>
        <xs:element ref="SeparateAccountRate"/>
        <xs:element ref="SeparateAccountRateType"/>
        <xs:element ref="Smoking"/>
        <xs:element ref="SolveBeginTime"/>
        <xs:element ref="SolveBeginYear"/>
        <xs:element ref="SolveEndTime"/>
        <xs:element ref="SolveEndYear"/>
        <xs:element ref="SolveExpenseGeneralAccountBasis"/>
        <xs:element ref="SolveFromWhich"/>
        <xs:element ref="SolveSeparateAccountBasis"/>
        <xs:element ref="SolveTarget"/>
        <xs:element ref="SolveTargetCashSurrenderValue"/>
        <xs:element ref="SolveTargetTime"/>
        <xs:element ref="SolveTargetYear"/>
        <xs:element ref="SolveTgtAtWhich"/>
        <xs:element ref="SolveToWhich"/>
        <xs:element ref="SolveType"/>
        <xs:element ref="SpecifiedAmount"/>
        <xs:element minOccurs="0" ref="SpecifiedAmountFromIssue"/>
        <xs:element minOccurs="0" ref="SpecifiedAmountFromRetirement"/>
        <xs:element ref="SpecifiedAmountStrategyFromIssue"/>
        <xs:element ref="SplitDollarAccumulateInterest"/>
        <xs:element ref="SplitDollarLoanRate"/>
        <xs:element ref="SplitDollarRolloutAge"/>
        <xs:element ref="SplitDollarRolloutAtWhich"/>
        <xs:element ref="SplitDollarRolloutYear"/>
        <xs:element ref="SpouseIssueAge"/>
        <xs:element ref="SpouseRider"/>
        <xs:element ref="SpouseRiderAmount"/>
        <xs:element ref="State"/>
        <xs:element ref="StateOfJurisdiction"/>
        <xs:element ref="SubstandardTable"/>
        <xs:element ref="SupplementalIllustrationType"/>
        <xs:element ref="SupplementalReportColumn00"/>
        <xs:element ref="SupplementalReportColumn01"/>
        <xs:element ref="SupplementalReportColumn02"/>
        <xs:element ref="SupplementalReportColumn03"/>
        <xs:element ref="SupplementalReportColumn04"/>
        <xs:element ref="SupplementalReportColumn05"/>
        <xs:element ref="SupplementalReportColumn06"/>
        <xs:element ref="SupplementalReportColumn07"/>
        <xs:element ref="SupplementalReportColumn08"/>
        <xs:element ref="SupplementalReportColumn09"/>
        <xs:element ref="SupplementalReportColumn10"/>
        <xs:element ref="SupplementalReportColumn11"/>
        <xs:element ref="SupplementalSpecifiedAmount"/>
        <xs:element ref="SurviveToAge"/>
        <xs:element ref="SurviveToType"/>
        <xs:element ref="SurviveToYear"/>
        <xs:element ref="TaxBracket"/>
        <xs:element ref="TermAdjustmentMethod"/>
        <xs:element ref="TermRider"/>
        <xs:element ref="TermRiderAmount"/>
        <xs:element ref="TermRiderProportion"/>
        <xs:element ref="TermRiderUseProportion"/>
        <xs:element ref="TotalSpecifiedAmount"/>
        <xs:element ref="UnderwritingClass"/>
        <xs:element ref="UseAverageOfAllFunds"/>
        <xs:element ref="UseCurrentDeclaredRate"/>
        <xs:element ref="UseDOB"/>
        <xs:element ref="UseExperienceRating"/>
        <xs:element ref="UsePartialMortality"/>
        <xs:element ref="WaiverOfPremiumBenefit"/>
        <xs:element ref="WithdrawToBasisThenLoan"/>
        <xs:element ref="Withdrawal"/>
        <xs:element minOccurs="0" ref="WithdrawalAmount"/>
        <xs:element minOccurs="0" ref="WithdrawalFromAge"/>
        <xs:element minOccurs="0" ref="WithdrawalFromAlternative"/>
        <xs:element minOccurs="0" ref="WithdrawalFromDuration"/>
        <xs:element minOccurs="0" ref="WithdrawalToAge"/>
        <xs:element minOccurs="0" ref="WithdrawalToAlternative"/>
        <xs:element minOccurs="0" ref="WithdrawalToDuration"/>
        <xs:element ref="ZipCode"/>
      </xs:sequence>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccidentalDeathBenefit" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Accidental death benefit: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address" type="xs:string">
    <xs:annotation>
      <xs:documentation>Insured's address: number and street.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentAddress" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent's address: number and street.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentCity" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent's address: city.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentId" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent ID code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent's full name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentPhone" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent's phone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentState" type="state">
    <xs:annotation>
      <xs:documentation>Agent's address: state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentZipCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent's address: zip code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AmortizePremiumLoad" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Amortize premium load (occasionally used for BOLI).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AvoidMecMethod" type="mec_avoid_method">
    <xs:annotation>
      <xs:documentation>* Special logic, if any, to avoid a MEC.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BlendGender" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Custom-blend rates by gender.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BlendSmoking" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Custom-blend rates by smoking.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CashValueEnhancementRate" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>Negative surrender charge as proportion of total account
value. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChildRider" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Child(ren) term rider: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChildRiderAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Child(ren) term rider: face amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="City" type="xs:string">
    <xs:annotation>
      <xs:documentation>Insured's address: city.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Comments" type="xs:string">
    <xs:annotation>
      <xs:documentation>* Free-form comments.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContractNumber" type="xs:string">
    <xs:annotation>
      <xs:documentation>Contract number: a unique identifier, which, although usually
called a "number", is often not purely numeric.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationAddress" type="xs:string">
    <xs:annotation>
      <xs:documentation>Corporation's address: number and street.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationCity" type="xs:string">
    <xs:annotation>
      <xs:documentation>Corporation's address: city.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Corporation's name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationPayment" type="payment_sequence">
    <xs:annotation>
      <xs:documentation>Corporation's planned premium. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationPaymentMode" type="mode_sequence">
    <xs:annotation>
      <xs:documentation>Corporation's premium mode. Default: 'annual'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationPremiumTableFactor" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* Corporation's tabular-premium multiplier. Default: '1'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationState" type="state">
    <xs:annotation>
      <xs:documentation>Corporation's address: state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationTaxBracket" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>* Corporation's tax bracket. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationZipCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>Corporation's address: zip code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Country" type="country">
    <xs:annotation>
      <xs:documentation>Insured's address: country. Default: 'US'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CountryCoiMultiplier" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>COI multiplier for country. Default: '1'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CreateSupplementalReport" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CurrentCoiMultiplier" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>Multiplier for current COI rates. Default: '1'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateOfBirth" type="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Insured's date of birth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeathBenefitOption" type="dbo_sequence">
    <xs:annotation>
      <xs:documentation>Death benefit option. Default: 'a'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeathBenefitOptionFromIssue" type="dbopt">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeathBenefitOptionFromRetirement" type="dbopt">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DefinitionOfLifeInsurance" type="defn_life_ins">
    <xs:annotation>
      <xs:documentation>7702 definitional test.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DefinitionOfMaterialChange" type="defn_material_change">
    <xs:annotation>
      <xs:documentation>* 7702A definition of material change. Default:
'GPT adjustment event' if GPT; else 'Unnecessary premium'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Dumpin" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* Dump-in: i.e., first-year-only extra premium other than a 1035 exchange.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EffectiveDate" type="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Effective date: for UL, date of first monthly deduction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EffectiveDateToday" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Use today's date as effective date: handy for new business.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployeeClass" type="xs:string">
    <xs:annotation>
      <xs:documentation>* Employee class, used for grouping individuals in order to
make input easier. E.g., specified amount for 'partners' might
be two times salary, while 'all others' get a flat $50K.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExperienceRatingInitialKFactor" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Factor for amortizing mortality profit into future charges.
Default: '1'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExperienceReserveRate" type="proportion_double">
    <xs:annotation>
      <xs:documentation>Overridden reserve rate for experience rating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="External1035ExchangeAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* Amount of 1035 exchange from a different insurer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="External1035ExchangeFromMec" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* MEC status of 1035 exchange from a different insurer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="External1035ExchangeTaxBasis" type="xs:double">
    <xs:annotation>
      <xs:documentation>* Tax basis of 1035 exchange from a different insurer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExtraCompensationOnAssets" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>Extra charge on separate-account assets. The motivation is to
let end users add a negotiated asset trailer without changing
the product database, but the field may be used for any extra
charge in the nature of M&amp;E. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExtraCompensationOnPremium" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>Extra premium load. The motivation is to let end users add a
negotiated commission without changing the product database,
but the field may be used for any extra load on premium.
Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExtraMonthlyCustodialFee" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>Extra policy fee. The motivation is to let end users add an
additional monthly custodial fee for a custom fund, but the
field may be used for any extra monthly fee. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FlatExtra" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>Annual flat extra per thousand of specified amount. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FundAllocations" type="xs:string">
    <xs:annotation>
      <xs:documentation>* As yet unused.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FundChoiceType" type="fund_input_method">
    <xs:annotation>
      <xs:documentation>* Fund-allocation override.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Gender" type="gender">
    <xs:annotation>
      <xs:documentation>Insured's gender for insurance purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeneralAccountRate" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>General-account interest rate as a decimal: e.g., '.03' for
3%. Default: actual credited rate; '0' for products with no
general-account option.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeneralAccountRateType" type="gen_acct_rate_type">
    <xs:annotation>
      <xs:documentation>* General-account rate: before or after spread.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GroupUnderwritingType" type="uw_basis">
    <xs:annotation>
      <xs:documentation>Type of underwriting, e.g. guaranteed issue.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HoneymoonEndorsement" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Honeymoon: elected or not. This is a temporary secondary
guarantee that enhances surrender values in early years, by
setting a minimum CSV equal to gross premium accumulated at a
special interest rate, with no monthly deductions taken.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HoneymoonValueSpread" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>Interest spread for honeymoon value, which grows at the net
general account rate less this decrement. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncludeInComposite" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Include this life in composite: permits excluding certain
lives from a composite without deleting them from a census.
Default: 'Yes'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentMode" type="mode">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentStrategy" type="pmt_strategy">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentToAge" type="age_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentToAlternative" type="to_point">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentToDuration" type="duration_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Inforce7702AAmountsPaidHistory" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>7702A "amounts paid" for each "contract year" since beginning
of most recent seven-pay period. Default: '0' if not in a
seven-pay period.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceAnnualTargetPremium" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce annual target premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceAsOfDate" type="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Date as of which inforce values are provided. This is taken to
refer to the first moment of the day, before monthiversary
processing. Some admin systems find it more convenient to
provide values as of the last moment of the preceding day; in
that case, this field should indicate the day following that
preceding day, i.e., the day monthiversary processing occurs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceAvBeforeLastMc" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce account value before last material change, for 7702A.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceContractMonth" type="month_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceContractYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceCorporationStake" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Corporation's inforce stake in a benefit plan (e.g., amount of
a full split-dollar rollout): cumulative corporation payments,
plus accumulated interest if interest not paid in cash.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceCumulativeGlp" type="xs:double">
    <xs:annotation>
      <xs:documentation>Inforce cumulative 7702 guideline level premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceCumulativeGptPremiumsPaid" type="xs:double">
    <xs:annotation>
      <xs:documentation>Inforce cumulative 7702(f)(1) 'premiums paid'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceCumulativeNoLapsePayments" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce cumulative payments for no-lapse guarantee: sum of all
gross premiums, including dump-ins and 1035 exchange proceeds,
minus rider charges, withdrawals, and premiums refunded or
forced out.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceCumulativeNoLapsePremium" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce cumulative no-lapse premium, for contracts that offer
a no-lapse guarantee as long as a cumulative minimum premium
is paid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceCumulativeRopPayments" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce cumulative payments for return of premium death
benefit option and for loads banded by cumulative premium:
sum of all gross premiums, including dump-ins and 1035
exchange proceeds, minus withdrawals and premiums refunded
or forced out.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceCumulativeSalesLoad" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce cumulative refundable sales load.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceDataSource" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>Vendor identifier for files from an external system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceDcv" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce 7702A deemed cash value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceGeneralAccountValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce unloaned account value in the general account.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceGlp" type="xs:double">
    <xs:annotation>
      <xs:documentation>Inforce 7702 guideline level premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceGsp" type="xs:double">
    <xs:annotation>
      <xs:documentation>Inforce 7702 guideline single premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceHoneymoonValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce honeymoon value. Zero if honeymoon has expired or
was never present.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceIsMec" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>MEC status of inforce contract.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceLeastDeathBenefit" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce 7702A least death benefit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceMonth" type="month_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceMonthlyNoLapsePremium" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Monthly premium required to maintain no-lapse guarantee.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceNetExperienceReserve" type="xs:double">
    <xs:annotation>
      <xs:documentation>Inforce net reserve for experience rating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceNoLapseActive" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>No-lapse guarantee is in effect.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforcePreferredLoanBalance" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce balance (total indebtedness) for preferred loans:
the amount that must be repaid to liquidate the loan.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforcePreferredLoanValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce loaned account value for preferred loans, including
principal and interest credited, but excluding interest
accrued: the portion of account value held in the loan
division of the general account with respect to the loan.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceRegularLoanBalance" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce balance (total indebtedness) for regular loans:
the amount that must be repaid to liquidate the loan.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceRegularLoanValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce loaned account value for regular loans, including
principal and interest credited, but excluding interest
accrued: the portion of account value held in the loan
division of the general account with respect to the loan.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceSeparateAccountValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce account value in all separate accounts, combined.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceSevenPayPremium" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce 7702A seven-pay premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceSpecAmtLoadBase" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Amount on which specified-amount load is charged, with due
regard to term rider and corridor.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceTaxBasis" type="xs:double">
    <xs:annotation>
      <xs:documentation>Inforce tax basis.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceYtdGrossPremium" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Policy-year-to-date payments counted toward target premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceYtdNetCoiCharge" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Policy-year-to-date "net" COI charge for experience rating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceYtdTaxablePremium" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Policy-year-to-date payments subject to premium tax.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InputFundManagementFee" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* Investment management fee of a custom fund.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsuredName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Insured's full name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsuredPremiumTableFactor" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* Insured's tabular-premium multiplier. Default: '1'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Internal1035ExchangeAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* Amount of 1035 exchange from the same insurer; distinguished
from external 1035 because an internal exchange may not be
subject to premium tax.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Internal1035ExchangeFromMec" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* MEC status of 1035 exchange from the same insurer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Internal1035ExchangeTaxBasis" type="xs:double">
    <xs:annotation>
      <xs:documentation>* Tax basis of 1035 exchange from the same insurer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IssueAge" type="age_int">
    <xs:annotation>
      <xs:documentation>Insurance age on effective date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LastCoiReentryDate" type="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Most recent group-underwriting date, for group contracts that
reenter a select and ultimate table of COI rates periodically
upon successful re-underwriting (for active lives only).
Default: effective date, for contracts with no reentry.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LastMaterialChangeDate" type="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Date of most recent 7702A material change. Default: effective
date, for contracts that have never had a material change.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ListBillDate" type="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Date of a list bill generated by the illustration system.
Default: the value of 'InforceAsOfDate'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanFromAge" type="age_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanFromAlternative" type="from_point">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanFromDuration" type="duration_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanRate" type="proportion_double">
    <xs:annotation>
      <xs:documentation>Loan interest rate, if it is variable. Default: '0' otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanRateType" type="loan_rate_type">
    <xs:annotation>
      <xs:documentation>Loan rate: fixed or variable.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanToAge" type="age_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanToAlternative" type="to_point">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanToDuration" type="duration_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MaleProportion" type="proportion_double">
    <xs:annotation>
      <xs:documentation>Proportion of males when rates are custom-blended by gender.
Default: '0' otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MasterContractNumber" type="xs:string">
    <xs:annotation>
      <xs:documentation>Group master contract number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MaximumNaar" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Maximum net amount at risk, as constrained by reinsurance.
Some contracts in the high-net-worth market force money out to
prevent corridor death benefit from exceeding available
reinsurance. Default: '1000000000'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NewLoan" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>* New loan taken in cash (excluding capitalized interest).
Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NonsmokerProportion" type="proportion_double">
    <xs:annotation>
      <xs:documentation>Proportion of nonsmokers when rates are custom-blended by
smoking. Default: '0' otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NumberOfIdenticalLives" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>* Number of identical lives represented by a single census
cell. It is sometimes convenient to approximate a population
by specifying a few cells and indicating the number of lives
each one represents. Default: '1'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OverrideCoiMultiplier" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Override country COI multiplier. Default: 'Yes'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OverrideExperienceReserveRate" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Override reserve rate for experience rating. Default: 'Yes'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OverrideFundManagementFee" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Override investment management fee: used only with custom funds.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PartialMortalityMultiplier" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>* Multiplier applied to partial-mortality table. Default: '1'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Payment" type="payment_sequence">
    <xs:annotation>
      <xs:documentation>Insured's planned premium. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PaymentMode" type="mode_sequence">
    <xs:annotation>
      <xs:documentation>Insured's premium mode. Default: 'annual'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PostHoneymoonSpread" type="proportion_double">
    <xs:annotation>
      <xs:documentation>Interest decrement applied to crediting rate after the
honeymoon expires--designed to recover the cost of providing
the honeymoon.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PremiumTaxState" type="state">
    <xs:annotation>
      <xs:documentation>State to which premium tax is paid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProductName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Product (plan): enumerators depend on run-time context.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProjectedSalary" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>* Projected salary: used for salary-based benefits. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RetireesCanEnroll" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Retirees allowed to enroll (or not). This is handy for
warning when retirees are unintentionally included in a
census. Default: 'Yes'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RetirementAge" type="age_int">
    <xs:annotation>
      <xs:documentation>* Insured's retirement age. Default: '65'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RunOrder" type="run_order">
    <xs:annotation>
      <xs:documentation>* Order in which different individuals in a census are
processed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SalarySpecifiedAmountCap" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* Maximum salary-based specified amount. Default: '100000'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SalarySpecifiedAmountFactor" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* Salary multiple used to determine specified amount. Default: '1'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SalarySpecifiedAmountOffset" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* Amount to be subtracted from salary-based specified amount,
intended to represent basic group term coverage. Default: '50000'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SeparateAccountRate" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>* Separate-account hypothetical rate as a decimal: e.g.,
'.0654' for 6.54%. Default: '.08'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SeparateAccountRateType" type="sep_acct_rate_type">
    <xs:annotation>
      <xs:documentation>* Separate-account rate: before or after spread. Default: 'Gross rate'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Smoking" type="smoking">
    <xs:annotation>
      <xs:documentation>Insured's smoking or tobacco use.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveBeginTime" type="duration_int">
    <xs:annotation>
      <xs:documentation>* Age at which a solve begins  (inclusive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveBeginYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>* Policy year in which a solve begins (inclusive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveEndTime" type="duration_int">
    <xs:annotation>
      <xs:documentation>* Age at which a solve ends (exclusive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveEndYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>* Policy year at which a solve ends (exclusive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveExpenseGeneralAccountBasis" type="gen_basis">
    <xs:annotation>
      <xs:documentation>* Expense and general-account basis for a solve: lmi permits
solves on guaranteed and midpoint bases as well as current.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveFromWhich" type="from_point">
    <xs:annotation>
      <xs:documentation>* Point at which a solve begins.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveSeparateAccountBasis" type="sep_basis">
    <xs:annotation>
      <xs:documentation>* Separate-account basis for a solve: lmi permits solves on
the basis of the hypothetical rate, half that rate, or zero.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveTarget" type="solve_target">
    <xs:annotation>
      <xs:documentation>* Solve goal.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveTargetCashSurrenderValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* Cash surrender value used as solve goal.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveTargetTime" type="duration_int">
    <xs:annotation>
      <xs:documentation>* Age at which a solve target is to be achieved.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveTargetYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>* Policy year in which a solve target is to be achieved.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveTgtAtWhich" type="to_point">
    <xs:annotation>
      <xs:documentation>* Point at which a solve target is to be achieved.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveToWhich" type="to_point">
    <xs:annotation>
      <xs:documentation>* Point at which a solve ends.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveType" type="solve_type">
    <xs:annotation>
      <xs:documentation>* Parameter to be solved for.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpecifiedAmount" type="specamt_sequence">
    <xs:annotation>
      <xs:documentation>Specified amount for each policy year since issue. Inforce
extracts require only the current scalar value. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpecifiedAmountFromIssue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpecifiedAmountFromRetirement" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpecifiedAmountStrategyFromIssue" type="sa_strategy">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SplitDollarAccumulateInterest" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Accumulate interest at demand-loan rate for split dollar,
rather than paying it in cash.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SplitDollarLoanRate" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>* Split-dollar annual demand-loan rate (typically the AFR).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SplitDollarRolloutAge" type="duration_int">
    <xs:annotation>
      <xs:documentation>* Split-dollar rollout age.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SplitDollarRolloutAtWhich" type="to_point">
    <xs:annotation>
      <xs:documentation>* Point at which split-dollar rollout is planned.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SplitDollarRolloutYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>* Split-dollar rollout duration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpouseIssueAge" type="age_int">
    <xs:annotation>
      <xs:documentation>Spouse's insurance age on effective date of spouse rider.
Default: '35' if rider not elected or not offered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpouseRider" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Spouse term rider: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpouseRiderAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Spouse term rider: face amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="State" type="state">
    <xs:annotation>
      <xs:documentation>Insured's address: state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateOfJurisdiction" type="state">
    <xs:annotation>
      <xs:documentation>State that approves policy form and rate filing, and governs
everything else except premium tax.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubstandardTable" type="table_rating">
    <xs:annotation>
      <xs:documentation>Substandard table rating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalIllustrationType" type="suppl_illus_type">
    <xs:annotation>
      <xs:documentation>* Built-in supplemental illustration type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn00" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: first column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn01" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: second column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn02" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: third column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn03" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: fourth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn04" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: fifth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn05" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: sixth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn06" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: seventh column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn07" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: eighth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn08" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: ninth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn09" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: tenth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn10" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: eleventh column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn11" type="report_column">
    <xs:annotation>
      <xs:documentation>* User-designed supplemental illustration: twelfth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalSpecifiedAmount" type="specamt_sequence">
    <xs:annotation>
      <xs:documentation>Supplemental specified amount (e.g., individually-elected
extra coverage on a group plan) for each policy year since
issue. Inforce extracts require only the current scalar value.
Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SurviveToAge" type="age_int">
    <xs:annotation>
      <xs:documentation>* Presumed age at death, for partial mortality. Default: '99'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SurviveToType" type="survival_limit">
    <xs:annotation>
      <xs:documentation>* Presumed moment of death, for partial mortality.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SurviveToYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>* Presumed policy year of death, for partial mortality. Default: '100'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TaxBracket" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>* Insured's tax bracket. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermAdjustmentMethod" type="term_adj_method">
    <xs:annotation>
      <xs:documentation>* Order in which term and base are affected by changes in
total specified amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermRider" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Term rider on main insured: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermRiderAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Term rider on main insured: face amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermRiderProportion" type="proportion_double">
    <xs:annotation>
      <xs:documentation>* Term rider as proportion of term and base combined.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermRiderUseProportion" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Treat term rider as proportion of term and base combined.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TotalSpecifiedAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* Initial specified amount of term and base combined, when
term rider is specified as a proportion of this total.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UnderwritingClass" type="class">
    <xs:annotation>
      <xs:documentation>Underwriting class. Default: 'Standard'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UseAverageOfAllFunds" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Use mean separate-account fee.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UseCurrentDeclaredRate" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Use current declared rate (read from authenticated database)
instead of entering the crediting rate explicitly. Default: 'Yes'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UseDOB" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Let date of birth override issue age. Default: 'Yes'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UseExperienceRating" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Use experience rating, on the few contracts that offer it.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UsePartialMortality" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Illustrate "partial mortality": i.e., reflect assumed deaths
in a composite illustration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WaiverOfPremiumBenefit" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Waiver of premium benefit: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawToBasisThenLoan" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>* Reinterpret input withdrawals as loans after tax basis recovered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Withdrawal" type="numeric_sequence">
    <xs:annotation>
      <xs:documentation>* Partial surrender. Default: '0'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalFromAge" type="age_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalFromAlternative" type="from_point">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalFromDuration" type="duration_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalToAge" type="age_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalToAlternative" type="to_point">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalToDuration" type="duration_int">
    <xs:annotation>
      <xs:documentation>* [obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ZipCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>Insured's address: zip code.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
