cell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!--
    RELAX NG schema for a single cell (class Input).

    Copyright (C) 2012 Gregory W. Chicares.

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License version 2 as
    published by the Free Software Foundation.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software Foundation,
    Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA

    http://savannah.nongnu.org/projects/lmi
    email: <gchicares@sbcglobal.net>
    snail: Chicares, 186 Belle Woods Drive, Glastonbury CT 06033, USA
  -->
  <!-- $Id$ -->
  <!--
    This schema is meant not for standalone use, but rather for
    inclusion from other schemata.
  -->
  <xs:complexType name="cell_element">
    <xs:sequence>
      <xs:element ref="cell"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cell">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AccidentalDeathBenefit"/>
        <xs:element ref="Address"/>
        <xs:element ref="AgentAddress"/>
        <xs:element ref="AgentCity"/>
        <xs:element ref="AgentId"/>
        <xs:element ref="AgentName"/>
        <xs:element ref="AgentPhone"/>
        <xs:element ref="AgentState"/>
        <xs:element ref="AgentZipCode"/>
        <xs:element ref="AmortizePremiumLoad"/>
        <xs:element ref="AvoidMecMethod"/>
        <xs:element ref="BlendGender"/>
        <xs:element ref="BlendSmoking"/>
        <xs:element ref="CashValueEnhancementRate"/>
        <xs:element ref="ChildRider"/>
        <xs:element ref="ChildRiderAmount"/>
        <xs:element ref="City"/>
        <xs:element ref="Comments"/>
        <xs:element ref="CorporationAddress"/>
        <xs:element ref="CorporationCity"/>
        <xs:element ref="CorporationName"/>
        <xs:element ref="CorporationPayment"/>
        <xs:element ref="CorporationPaymentMode"/>
        <xs:element ref="CorporationPremiumTableFactor"/>
        <xs:element ref="CorporationState"/>
        <xs:element ref="CorporationTaxBracket"/>
        <xs:element ref="CorporationZipCode"/>
        <xs:element ref="Country"/>
        <xs:element ref="CountryCoiMultiplier"/>
        <xs:element ref="CreateSupplementalReport"/>
        <xs:element ref="CurrentCoiMultiplier"/>
        <xs:element ref="DateOfBirth"/>
        <xs:element ref="DeathBenefitOption"/>
        <xs:element ref="DeathBenefitOptionFromIssue"/>
        <xs:element ref="DeathBenefitOptionFromRetirement"/>
        <xs:element ref="DefinitionOfLifeInsurance"/>
        <xs:element ref="DefinitionOfMaterialChange"/>
        <xs:element ref="Dumpin"/>
        <xs:element ref="EffectiveDate"/>
        <xs:element ref="EffectiveDateToday"/>
        <xs:element ref="EmployeeClass"/>
        <xs:element ref="ExperienceRatingInitialKFactor"/>
        <xs:element ref="ExperienceReserveRate"/>
        <xs:element ref="External1035ExchangeAmount"/>
        <xs:element ref="External1035ExchangeBasis"/>
        <xs:element ref="External1035ExchangeFromMec"/>
        <xs:element ref="ExtraCompensationOnAssets"/>
        <xs:element ref="ExtraCompensationOnPremium"/>
        <xs:element ref="ExtraMonthlyCustodialFee"/>
        <xs:element ref="FlatExtra"/>
        <xs:element ref="Franchise"/>
        <xs:element ref="FundAllocations"/>
        <xs:element ref="FundChoiceType"/>
        <xs:element ref="Gender"/>
        <xs:element ref="GeneralAccountRate"/>
        <xs:element ref="GeneralAccountRateType"/>
        <xs:element ref="GroupUnderwritingType"/>
        <xs:element ref="HoneymoonEndorsement"/>
        <xs:element ref="HoneymoonValueSpread"/>
        <xs:element ref="IncludeInComposite"/>
        <xs:element ref="IndividualPaymentAmount"/>
        <xs:element ref="IndividualPaymentMode"/>
        <xs:element ref="IndividualPaymentStrategy"/>
        <xs:element ref="IndividualPaymentToAge"/>
        <xs:element ref="IndividualPaymentToAlternative"/>
        <xs:element ref="IndividualPaymentToDuration"/>
        <xs:element ref="InforceAsOfDate"/>
        <xs:element ref="InforceAvBeforeLastMc"/>
        <xs:element ref="InforceContractMonth"/>
        <xs:element ref="InforceContractYear"/>
        <xs:element ref="InforceCumulativeGlp"/>
        <xs:element ref="InforceCumulativeNoLapsePremium"/>
        <xs:element ref="InforceCumulativePayments"/>
        <xs:element ref="InforceDcv"/>
        <xs:element ref="InforceGeneralAccountValue"/>
        <xs:element ref="InforceGlp"/>
        <xs:element ref="InforceGsp"/>
        <xs:element ref="InforceHoneymoonValue"/>
        <xs:element ref="InforceIsMec"/>
        <xs:element ref="InforceLeastDeathBenefit"/>
        <xs:element ref="InforceMonth"/>
        <xs:element ref="InforceNetExperienceReserve"/>
        <xs:element ref="InforcePreferredLoanBalance"/>
        <xs:element ref="InforcePreferredLoanValue"/>
        <xs:element ref="InforceRegularLoanBalance"/>
        <xs:element ref="InforceRegularLoanValue"/>
        <xs:element ref="InforceSeparateAccountValue"/>
        <xs:element ref="InforceSevenPayPremium"/>
        <xs:element ref="InforceTaxBasis"/>
        <xs:element ref="InforceYear"/>
        <xs:element ref="InforceYtdNetCoiCharge"/>
        <xs:element ref="InputFundManagementFee"/>
        <xs:element ref="InsuredName"/>
        <xs:element ref="InsuredPremiumTableFactor"/>
        <xs:element ref="Internal1035ExchangeAmount"/>
        <xs:element ref="Internal1035ExchangeBasis"/>
        <xs:element ref="Internal1035ExchangeFromMec"/>
        <xs:element ref="IssueAge"/>
        <xs:element ref="LastCoiReentryDate"/>
        <xs:element ref="LastMaterialChangeDate"/>
        <xs:element ref="LoanAmount"/>
        <xs:element ref="LoanFromAge"/>
        <xs:element ref="LoanFromAlternative"/>
        <xs:element ref="LoanFromDuration"/>
        <xs:element ref="LoanRate"/>
        <xs:element ref="LoanRateType"/>
        <xs:element ref="LoanToAge"/>
        <xs:element ref="LoanToAlternative"/>
        <xs:element ref="LoanToDuration"/>
        <xs:element ref="MaleProportion"/>
        <xs:element ref="MaximumNaar"/>
        <xs:element ref="NewLoan"/>
        <xs:element ref="NonsmokerProportion"/>
        <xs:element ref="NumberOfIdenticalLives"/>
        <xs:element ref="OverrideCoiMultiplier"/>
        <xs:element ref="OverrideExperienceReserveRate"/>
        <xs:element ref="OverrideFundManagementFee"/>
        <xs:element ref="PartialMortalityMultiplier"/>
        <xs:element ref="Payment"/>
        <xs:element ref="PaymentMode"/>
        <xs:element ref="PolicyNumber"/>
        <xs:element ref="PostHoneymoonSpread"/>
        <xs:element ref="PremiumHistory"/>
        <xs:element ref="PremiumTaxState"/>
        <xs:element ref="ProductName"/>
        <xs:element ref="ProjectedSalary"/>
        <xs:element ref="RetireesCanEnroll"/>
        <xs:element ref="RetirementAge"/>
        <xs:element ref="RunOrder"/>
        <xs:element ref="SalarySpecifiedAmountCap"/>
        <xs:element ref="SalarySpecifiedAmountFactor"/>
        <xs:element ref="SalarySpecifiedAmountOffset"/>
        <xs:element ref="SeparateAccountRate"/>
        <xs:element ref="SeparateAccountRateType"/>
        <xs:element ref="Smoking"/>
        <xs:element ref="SolveBasis"/>
        <xs:element ref="SolveBeginTime"/>
        <xs:element ref="SolveBeginYear"/>
        <xs:element ref="SolveEndTime"/>
        <xs:element ref="SolveEndYear"/>
        <xs:element ref="SolveFromWhich"/>
        <xs:element ref="SolveSeparateAccountBasis"/>
        <xs:element ref="SolveTarget"/>
        <xs:element ref="SolveTargetCashSurrenderValue"/>
        <xs:element ref="SolveTargetTime"/>
        <xs:element ref="SolveTargetYear"/>
        <xs:element ref="SolveTgtAtWhich"/>
        <xs:element ref="SolveToWhich"/>
        <xs:element ref="SolveType"/>
        <xs:element ref="SpecamtHistory"/>
        <xs:element ref="SpecifiedAmount"/>
        <xs:element ref="SpecifiedAmountFromIssue"/>
        <xs:element ref="SpecifiedAmountFromRetirement"/>
        <xs:element ref="SpecifiedAmountStrategyFromIssue"/>
        <xs:element ref="SpouseIssueAge"/>
        <xs:element ref="SpouseRider"/>
        <xs:element ref="SpouseRiderAmount"/>
        <xs:element ref="State"/>
        <xs:element ref="StateOfJurisdiction"/>
        <xs:element ref="SubstandardTable"/>
        <xs:element ref="SupplementalReportColumn00"/>
        <xs:element ref="SupplementalReportColumn01"/>
        <xs:element ref="SupplementalReportColumn02"/>
        <xs:element ref="SupplementalReportColumn03"/>
        <xs:element ref="SupplementalReportColumn04"/>
        <xs:element ref="SupplementalReportColumn05"/>
        <xs:element ref="SupplementalReportColumn06"/>
        <xs:element ref="SupplementalReportColumn07"/>
        <xs:element ref="SupplementalReportColumn08"/>
        <xs:element ref="SupplementalReportColumn09"/>
        <xs:element ref="SupplementalReportColumn10"/>
        <xs:element ref="SupplementalReportColumn11"/>
        <xs:element ref="SurviveToAge"/>
        <xs:element ref="SurviveToType"/>
        <xs:element ref="SurviveToYear"/>
        <xs:element ref="TaxBracket"/>
        <xs:element ref="TermAdjustmentMethod"/>
        <xs:element ref="TermRider"/>
        <xs:element ref="TermRiderAmount"/>
        <xs:element ref="TermRiderProportion"/>
        <xs:element ref="TermRiderUseProportion"/>
        <xs:element ref="TotalSpecifiedAmount"/>
        <xs:element ref="UnderwritingClass"/>
        <xs:element ref="UseAverageOfAllFunds"/>
        <xs:element ref="UseCurrentDeclaredRate"/>
        <xs:element ref="UseDOB"/>
        <xs:element ref="UseExperienceRating"/>
        <xs:element ref="UsePartialMortality"/>
        <xs:element ref="WaiverOfPremiumBenefit"/>
        <xs:element ref="WithdrawToBasisThenLoan"/>
        <xs:element ref="Withdrawal"/>
        <xs:element ref="WithdrawalAmount"/>
        <xs:element ref="WithdrawalFromAge"/>
        <xs:element ref="WithdrawalFromAlternative"/>
        <xs:element ref="WithdrawalFromDuration"/>
        <xs:element ref="WithdrawalToAge"/>
        <xs:element ref="WithdrawalToAlternative"/>
        <xs:element ref="WithdrawalToDuration"/>
        <xs:element ref="ZipCode"/>
      </xs:sequence>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccidentalDeathBenefit" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Accidental death benefit: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address" type="xs:string">
    <xs:annotation>
      <xs:documentation>Insured's address: number and street.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentAddress" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent's address: number and street.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentCity" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent's address: city.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentId" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent ID code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent's full name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentPhone" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent's phone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentState" type="state">
    <xs:annotation>
      <xs:documentation>Agent's address: state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgentZipCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agent's address: zip code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AmortizePremiumLoad" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Amortize premium load (occasionally used for BOLI).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AvoidMecMethod" type="mec_avoid_method">
    <xs:annotation>
      <xs:documentation>Special logic, if any, to avoid a MEC.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BlendGender" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Custom-blend rates by gender.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BlendSmoking" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Custom-blend rates by smoking.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CashValueEnhancementRate" type="xs:string">
    <xs:annotation>
      <xs:documentation>Negative surrender charge as proportion of total account value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChildRider" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Child(ren) term rider: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChildRiderAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Child(ren) term rider: face amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="City" type="xs:string">
    <xs:annotation>
      <xs:documentation>Insured's address: city.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Comments" type="xs:string">
    <xs:annotation>
      <xs:documentation>Free-form comments.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationAddress" type="xs:string">
    <xs:annotation>
      <xs:documentation>Corporation's address: number and street.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationCity" type="xs:string">
    <xs:annotation>
      <xs:documentation>Corporation's address: city.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Corporation's name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationPayment" type="xs:string">
    <xs:annotation>
      <xs:documentation>Corporation's planned premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationPaymentMode" type="xs:string">
    <xs:annotation>
      <xs:documentation>Corporation's premium mode.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationPremiumTableFactor" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Corporation's tabular-premium multiplier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationState" type="state">
    <xs:annotation>
      <xs:documentation>Corporation's address: state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationTaxBracket" type="xs:string">
    <xs:annotation>
      <xs:documentation>Corporation's tax bracket.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorporationZipCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>Corporation's address: zip code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Country" type="country">
    <xs:annotation>
      <xs:documentation>Insured's address: country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CountryCoiMultiplier" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>COI multiplier for country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CreateSupplementalReport" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CurrentCoiMultiplier" type="xs:string">
    <xs:annotation>
      <xs:documentation>Multiplier for current COI rates.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateOfBirth" type="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Insured's date of birth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeathBenefitOption" type="xs:string">
    <xs:annotation>
      <xs:documentation>Death benefit option.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeathBenefitOptionFromIssue" type="dbopt">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeathBenefitOptionFromRetirement" type="dbopt">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DefinitionOfLifeInsurance" type="defn_life_ins">
    <xs:annotation>
      <xs:documentation>7702 definitional test.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DefinitionOfMaterialChange" type="defn_material_change">
    <xs:annotation>
      <xs:documentation>7702A definition of material change.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Dumpin" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Dump-in: i.e., first-year-only extra premium other than a 1035 exchange.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EffectiveDate" type="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Effective date: for UL, date of first monthly deduction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EffectiveDateToday" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Use today's date as effective date: handy for new business.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployeeClass" type="xs:string">
    <xs:annotation>
      <xs:documentation>Employee class, used for grouping individuals in order to make
input easier. E.g., specified amount for 'partners' might be
two times salary, while 'all others' get a flat $50K.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExperienceRatingInitialKFactor" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Factor for amortizing mortality profit into future charges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExperienceReserveRate" type="proportion_double">
    <xs:annotation>
      <xs:documentation>Overridden reserve rate for experience rating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="External1035ExchangeAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Amount of 1035 exchange from a different insurer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="External1035ExchangeBasis" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Tax basis of 1035 exchange from a different insurer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="External1035ExchangeFromMec" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>MEC status of 1035 exchange from a different insurer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExtraCompensationOnAssets" type="xs:string">
    <xs:annotation>
      <xs:documentation>Extra charge on separate-account assets. The motivation is to
let end users add a negotiated asset trailer without changing
the product database, but the field may be used for any extra
charge in the nature of M&amp;E.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExtraCompensationOnPremium" type="xs:string">
    <xs:annotation>
      <xs:documentation>Extra premium load. The motivation is to let end users add a
negotiated commission without changing the product database,
but the field may be used for any extra load on premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExtraMonthlyCustodialFee" type="xs:string">
    <xs:annotation>
      <xs:documentation>Extra policy fee. The motivation is to let end users add an
additional monthly custodial fee for a custom fund, but the
field may be used for any extra monthly fee.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FlatExtra" type="xs:string">
    <xs:annotation>
      <xs:documentation>Annual flat extra per thousand of specified amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Franchise" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agency or brokerage code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FundAllocations" type="xs:string">
    <xs:annotation>
      <xs:documentation>As yet unused: cf. 'fund_input_method'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FundChoiceType" type="fund_input_method">
    <xs:annotation>
      <xs:documentation>Fund-allocation override: cf. 'fund_input_method'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Gender" type="gender">
    <xs:annotation>
      <xs:documentation>Insured's gender for insurance purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeneralAccountRate" type="xs:string">
    <xs:annotation>
      <xs:documentation>General-account interest rate as a decimal: e.g., '0.03' for 3%.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeneralAccountRateType" type="gen_acct_rate_type">
    <xs:annotation>
      <xs:documentation>General-account rate: before or after spread.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GroupUnderwritingType" type="uw_basis">
    <xs:annotation>
      <xs:documentation>Type of underwriting, e.g. guaranteed issue.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HoneymoonEndorsement" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Honeymoon: elected or not. This is a temporary secondary
guarantee that enhances surrender values in early years, by
setting a minimum CSV equal to gross premium accumulated at a
special interest rate, with no monthly deductions taken.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HoneymoonValueSpread" type="xs:string">
    <xs:annotation>
      <xs:documentation>Interest spread for honeymoon value, which grows at the net
general account rate less this decrement.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncludeInComposite" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Include this life in composite: default = 'Yes'. This field
permits excluding certain lives from a composite without
deleting them from a census.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentMode" type="mode">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentStrategy" type="pmt_strategy">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentToAge" type="age_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentToAlternative" type="to_point">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IndividualPaymentToDuration" type="duration_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceAsOfDate" type="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Date as of which inforce values are provided. This is taken to
refer to the first moment of the day, before monthiversary
processing. Some admin systems find it more convenient to
provide values as of the last moment of the preceding day; in
that case, this field should indicate the day following that
preceding day.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceAvBeforeLastMc" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce account value before last material change, for 7702A.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceContractMonth" type="month_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceContractYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceCumulativeGlp" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce cumulative 7702 guideline level premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceCumulativeNoLapsePremium" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce cumulative no-lapse premium, for contracts that offer
a no-lapse guarantee as long as a cumulative minimum premium
is paid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceCumulativePayments" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce cumulative payments: sum of all gross premiums,
including dump-ins and 1035 exchange proceeds.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceDcv" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce 7702A deemed cash value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceGeneralAccountValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce account value in the general account.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceGlp" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce 7702 guideline level premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceGsp" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce 7702 guideline single premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceHoneymoonValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce honeymoon value. Zero if honeymoon has expired or
was never present.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceIsMec" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>MEC status of inforce contract.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceLeastDeathBenefit" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce 7702A least death benefit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceMonth" type="month_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceNetExperienceReserve" type="xs:double">
    <xs:annotation>
      <xs:documentation>Inforce net reserve for experience rating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforcePreferredLoanBalance" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce balance (total indebtedness) for preferred loans.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforcePreferredLoanValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce loaned account value (excluding accrued interest) for
preferred loans.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceRegularLoanBalance" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce balance (total indebtedness) for regular loans.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceRegularLoanValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce loaned account value (excluding accrued interest) for
regular loans.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceSeparateAccountValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce account value in all separate accounts, combined.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceSevenPayPremium" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce 7702A seven-pay premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceTaxBasis" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce tax basis.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InforceYtdNetCoiCharge" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Inforce year-to-date "net" COI charge for experience rating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InputFundManagementFee" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Investment management fee of a custom fund.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsuredName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Insured's full name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsuredPremiumTableFactor" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Insured's tabular-premium multiplier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Internal1035ExchangeAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Amount of 1035 exchange from the same insurer; distinguished
from external 1035 because an internal exchange may not be
subject to premium tax.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Internal1035ExchangeBasis" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Tax basis of 1035 exchange from the same insurer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Internal1035ExchangeFromMec" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>MEC status of 1035 exchange from the same insurer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IssueAge" type="age_int">
    <xs:annotation>
      <xs:documentation>Insurance age on effective date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LastCoiReentryDate" type="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Most recent group-underwriting date, for group contracts that
reenter a select and ultimate table of COI rates periodically
upon successful re-underwriting (for active lives only).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LastMaterialChangeDate" type="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Date of most recent 7702A material change.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanFromAge" type="age_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanFromAlternative" type="from_point">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanFromDuration" type="duration_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanRate" type="proportion_double">
    <xs:annotation>
      <xs:documentation>Loan interest rate, if it is variable.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanRateType" type="loan_rate_type">
    <xs:annotation>
      <xs:documentation>Loan rate: fixed or variable.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanToAge" type="age_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanToAlternative" type="to_point">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LoanToDuration" type="duration_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MaleProportion" type="proportion_double">
    <xs:annotation>
      <xs:documentation>Proportion of males when rates are custom-blended by gender.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MaximumNaar" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Maximum net amount at risk, as constrained by reinsurance.
Some contracts in the high-net-worth market force money out to
prevent corridor death benefit from exceeding available
reinsurance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NewLoan" type="xs:string">
    <xs:annotation>
      <xs:documentation>New loan taken in cash (excluding capitalized interest).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NonsmokerProportion" type="proportion_double">
    <xs:annotation>
      <xs:documentation>Proportion of nonsmokers when rates are custom-blended by smoking.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NumberOfIdenticalLives" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>Number of identical lives represented by a single census cell.
It is sometimes convenient to approximate a population by
specifying a few cells and indicating the number of lives each
one represents.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OverrideCoiMultiplier" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Override country COI multiplier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OverrideExperienceReserveRate" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Override reserve rate for experience rating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OverrideFundManagementFee" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Override investment management fee: used only with custom funds.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PartialMortalityMultiplier" type="xs:string">
    <xs:annotation>
      <xs:documentation>Multiplier applied to partial-mortality table.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Payment" type="xs:string">
    <xs:annotation>
      <xs:documentation>Insured's planned premium.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PaymentMode" type="xs:string">
    <xs:annotation>
      <xs:documentation>Insured's premium mode.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PolicyNumber" type="xs:string">
    <xs:annotation>
      <xs:documentation>Policy number: a unique identifier, which, despite its
commonly-used name, is often not purely numeric.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PostHoneymoonSpread" type="proportion_double">
    <xs:annotation>
      <xs:documentation>Interest decrement applied to crediting rate after the
honeymoon expires--designed to recover the cost of providing
the honeymoon.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PremiumHistory" type="xs:string">
    <xs:annotation>
      <xs:documentation>7702A "amounts paid" for each "contract year" since beginning
of most recent seven-pay period; zero if not in a seven-pay
period.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PremiumTaxState" type="state">
    <xs:annotation>
      <xs:documentation>State to which premium tax is paid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProductName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Product (plan): enumerators depend on run-time context.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProjectedSalary" type="xs:string">
    <xs:annotation>
      <xs:documentation>Projected salary: used for salary-based benefits.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RetireesCanEnroll" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Retirees allowed to enroll (or not). This is handy for
warning when retirees are unintentionally included in a
census.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RetirementAge" type="age_int">
    <xs:annotation>
      <xs:documentation>Insured's retirement age.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RunOrder" type="run_order">
    <xs:annotation>
      <xs:documentation>Order in which different individuals in a census are
processed: cf. 'run_order'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SalarySpecifiedAmountCap" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Maximum salary-based specified amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SalarySpecifiedAmountFactor" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Salary multiple used to determine specified amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SalarySpecifiedAmountOffset" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Amount to be subtracted from salary-based specified amount,
intended to represent basic group term coverage.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SeparateAccountRate" type="xs:string">
    <xs:annotation>
      <xs:documentation>Separate-account hypothetical rate as a decimal: e.g., '0.06' for 6%.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SeparateAccountRateType" type="sep_acct_rate_type">
    <xs:annotation>
      <xs:documentation>Separate-account rate: before or after spread.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Smoking" type="smoking">
    <xs:annotation>
      <xs:documentation>Insured's smoking or tobacco use.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveBasis" type="gen_basis">
    <xs:annotation>
      <xs:documentation>Expense and general-account basis for a solve: lmi permits
solves on guaranteed and midpoint bases as well as current.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveBeginTime" type="duration_int">
    <xs:annotation>
      <xs:documentation>Age at which a solve begins  (inclusive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveBeginYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>Policy year in which a solve begins (inclusive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveEndTime" type="duration_int">
    <xs:annotation>
      <xs:documentation>Age at which a solve ends (exclusive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveEndYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>Policy year at which a solve ends (exclusive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveFromWhich" type="from_point">
    <xs:annotation>
      <xs:documentation>Point at which a solve begins.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveSeparateAccountBasis" type="sep_basis">
    <xs:annotation>
      <xs:documentation>Separate-account basis for a solve: lmi permits solves on
the basis of the hypothetical rate, half that rate, or zero.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveTarget" type="solve_target">
    <xs:annotation>
      <xs:documentation>Solve goal.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveTargetCashSurrenderValue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Cash surrender value used as solve goal.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveTargetTime" type="duration_int">
    <xs:annotation>
      <xs:documentation>Age at which a solve target is to be achieved.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveTargetYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>Policy year in which a solve target is to be achieved.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveTgtAtWhich" type="to_point">
    <xs:annotation>
      <xs:documentation>Point at which a solve target is to be achieved.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveToWhich" type="to_point">
    <xs:annotation>
      <xs:documentation>Point at which a solve ends.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SolveType" type="solve_type">
    <xs:annotation>
      <xs:documentation>Parameter to be solved for.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpecamtHistory" type="xs:string">
    <xs:annotation>
      <xs:documentation>Specified amount for each policy year since issue: used only
for certain surrender charges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpecifiedAmount" type="xs:string">
    <xs:annotation>
      <xs:documentation>Specified amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpecifiedAmountFromIssue" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpecifiedAmountFromRetirement" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpecifiedAmountStrategyFromIssue" type="sa_strategy">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpouseIssueAge" type="age_int">
    <xs:annotation>
      <xs:documentation>Spouse's insurance age on effective date of spouse rider.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpouseRider" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Spouse term rider: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpouseRiderAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Spouse term rider: face amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="State" type="state">
    <xs:annotation>
      <xs:documentation>Insured's address: state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateOfJurisdiction" type="state">
    <xs:annotation>
      <xs:documentation>State that approves policy form and rate filing, and governs
everything else except premium tax.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubstandardTable" type="table_rating">
    <xs:annotation>
      <xs:documentation>Substandard table rating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn00" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: first column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn01" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: second column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn02" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: third column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn03" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: fourth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn04" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: fifth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn05" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: sixth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn06" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: seventh column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn07" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: eighth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn08" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: ninth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn09" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: tenth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn10" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: eleventh column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupplementalReportColumn11" type="report_column">
    <xs:annotation>
      <xs:documentation>User-designed supplemental illustration: twelfth column.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SurviveToAge" type="age_int">
    <xs:annotation>
      <xs:documentation>Presumed age at death, for partial mortality.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SurviveToType" type="survival_limit">
    <xs:annotation>
      <xs:documentation>Presumed moment of death, for partial mortality.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SurviveToYear" type="duration_int">
    <xs:annotation>
      <xs:documentation>Presumed policy year of death, for partial mortality.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TaxBracket" type="xs:string">
    <xs:annotation>
      <xs:documentation>Insured's tax bracket.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermAdjustmentMethod" type="term_adj_method">
    <xs:annotation>
      <xs:documentation>Order in which term and base are affected by changes in total
specified amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermRider" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Term rider on main insured: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermRiderAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Term rider on main insured: face amount.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermRiderProportion" type="proportion_double">
    <xs:annotation>
      <xs:documentation>Term rider as proportion of term and base combined.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermRiderUseProportion" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Treat term rider as proportion of term and base combined.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TotalSpecifiedAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Initial specified amount of term and base combined, when term
rider is specified as a proportion of this total.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UnderwritingClass" type="class">
    <xs:annotation>
      <xs:documentation>Underwriting class.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UseAverageOfAllFunds" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Use mean separate-account fee: cf. 'fund_input_method'.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UseCurrentDeclaredRate" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Use current declared rate (read from authenticated database)
instead of entering the crediting rate explicitly.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UseDOB" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Let date of birth override issue age.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UseExperienceRating" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Use experience rating, on the few contracts that offer it.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UsePartialMortality" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Illustrate "partial mortality": i.e., reflect assumed deaths
in a composite illustration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WaiverOfPremiumBenefit" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Waiver of premium benefit: elected or not.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawToBasisThenLoan" type="yes_or_no">
    <xs:annotation>
      <xs:documentation>Reinterpret input withdrawals as loans after tax basis recovered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Withdrawal" type="xs:string">
    <xs:annotation>
      <xs:documentation>Partial surrender.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalAmount" type="nonnegative_double">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalFromAge" type="age_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalFromAlternative" type="from_point">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalFromDuration" type="duration_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalToAge" type="age_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalToAlternative" type="to_point">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WithdrawalToDuration" type="duration_int">
    <xs:annotation>
      <xs:documentation>[obsolete]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ZipCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>Insured's address: zip code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- It is infeasible to validate an input sequence with a regex. -->
  <!-- Numeric-range types. -->
  <xs:simpleType name="nonnegative_double">
    <xs:annotation>
      <xs:documentation>Floating-point number greater than or equal to zero.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="proportion_double">
    <xs:annotation>
      <xs:documentation>Floating-point number between zero and one, inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="calendar_date_int">
    <xs:annotation>
      <xs:documentation>Julian Day Number between 1752-09-14 and 9999-12-31, inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="2361222"/>
      <xs:maxInclusive value="5373484"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="age_int">
    <xs:annotation>
      <xs:documentation>Attained age: integer between zero and 99, inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="duration_int">
    <xs:annotation>
      <xs:documentation>Time interval in years: integer between zero and 100, inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="month_int">
    <xs:annotation>
      <xs:documentation>Time interval in months: integer between zero and eleven, inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="11"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Enumerations. -->
  <xs:simpleType name="yes_or_no">
    <xs:annotation>
      <xs:documentation>'Yes' or 'No'. 'No' is listed first because it is usually the better default.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gender">
    <xs:annotation>
      <xs:documentation>Gender. 'Unisex' is for contracts that don't distinguish rates by gender.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Female"/>
      <xs:enumeration value="Male"/>
      <xs:enumeration value="Unisex"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="smoking">
    <xs:annotation>
      <xs:documentation>Smoking. 'Unismoke' is for contracts that don't distinguish rates
by smoking. Some contracts speak of tobacco use instead of smoking,
but none use both, so a single set of enumerators suffices.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Smoker"/>
      <xs:enumeration value="Nonsmoker"/>
      <xs:enumeration value="Unismoke"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="class">
    <xs:annotation>
      <xs:documentation>Underwriting class. Use "Rated" for contracts with table ratings.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Preferred"/>
      <xs:enumeration value="Standard"/>
      <xs:enumeration value="Rated"/>
      <xs:enumeration value="Ultra"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dbopt">
    <xs:annotation>
      <xs:documentation>Death benefit option: 'A' = level; 'B' = increasing; 'ROP' = return of premium.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="A"/>
      <xs:enumeration value="B"/>
      <xs:enumeration value="ROP"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mode">
    <xs:annotation>
      <xs:documentation>Payment mode.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Annual"/>
      <xs:enumeration value="Semiannual"/>
      <xs:enumeration value="Quarterly"/>
      <xs:enumeration value="Monthly"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gen_basis">
    <xs:annotation>
      <xs:documentation>Basis for expense and general-account rates.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Current"/>
      <xs:enumeration value="Guaranteed"/>
      <xs:enumeration value="Midpoint"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sep_basis">
    <xs:annotation>
      <xs:documentation>Basis for separate-account rates.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Hypothetical"/>
      <xs:enumeration value="Zero"/>
      <xs:enumeration value="Half of hypothetical"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="uw_basis">
    <xs:annotation>
      <xs:documentation>Type of underwriting.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Medical"/>
      <xs:enumeration value="Paramedical"/>
      <xs:enumeration value="Nonmedical"/>
      <xs:enumeration value="Simplified issue"/>
      <xs:enumeration value="Guaranteed issue"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="table_rating">
    <xs:annotation>
      <xs:documentation>Industry-standard table rating, or 'None'.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="None"/>
      <xs:enumeration value="A=+25%"/>
      <xs:enumeration value="B=+50%"/>
      <xs:enumeration value="C=+75%"/>
      <xs:enumeration value="D=+100%"/>
      <xs:enumeration value="E=+125%"/>
      <xs:enumeration value="F=+150%"/>
      <xs:enumeration value="H=+200%"/>
      <xs:enumeration value="J=+250%"/>
      <xs:enumeration value="L=+300%"/>
      <xs:enumeration value="P=+400%"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="solve_type">
    <xs:annotation>
      <xs:documentation>Parameter to be solved for.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="No solve"/>
      <xs:enumeration value="Specified amount"/>
      <xs:enumeration value="Employee premium"/>
      <xs:enumeration value="Employer premium"/>
      <xs:enumeration value="Loan"/>
      <xs:enumeration value="Withdrawal"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="solve_target">
    <xs:annotation>
      <xs:documentation>Solve goal.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Endowment"/>
      <xs:enumeration value="Target CSV"/>
      <xs:enumeration value="CSV = tax basis"/>
      <xs:enumeration value="Avoid MEC"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pmt_strategy">
    <xs:annotation>
      <xs:documentation>Optional strategy to determine payment as a function of specified amount.
'PmtInputScalar' is obsolete.
'PmtMEP' uses 7702A 7PP rate.
'Table' uses an external table (e.g., New York Table D for group insurance).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="PmtInputScalar"/>
      <xs:enumeration value="PmtMinimum"/>
      <xs:enumeration value="PmtTarget"/>
      <xs:enumeration value="PmtMEP"/>
      <xs:enumeration value="PmtGLP"/>
      <xs:enumeration value="PmtGSP"/>
      <xs:enumeration value="PmtCorridor"/>
      <xs:enumeration value="PmtTable"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sa_strategy">
    <xs:annotation>
      <xs:documentation>Optional strategy to determine specified amount as a function of premium.
'SAInputScalar' is obsolete.
'SAMEP' uses 7702A 7PP rate.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="SAInputScalar"/>
      <xs:enumeration value="SAMaximum"/>
      <xs:enumeration value="SATarget"/>
      <xs:enumeration value="SAMEP"/>
      <xs:enumeration value="SAGLP"/>
      <xs:enumeration value="SAGSP"/>
      <xs:enumeration value="SACorridor"/>
      <xs:enumeration value="SASalary"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gen_acct_rate_type">
    <xs:annotation>
      <xs:documentation>General-account rate: before or after spread.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Credited rate"/>
      <xs:enumeration value="Earned rate"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sep_acct_rate_type">
    <xs:annotation>
      <xs:documentation>Separate-account rate: before or after spread.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Net rate"/>
      <xs:enumeration value="Gross rate"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="loan_rate_type">
    <xs:annotation>
      <xs:documentation>Loan rate: fixed or variable.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Fixed loan rate"/>
      <xs:enumeration value="Variable loan rate"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fund_input_method">
    <xs:annotation>
      <xs:documentation>Fund-allocation overrides, for payments that aren't peremptorily
allocated to the general account (e.g., employer payments on some
group UL contracts might always go into the general account).
Conceptually:
'Average': use mean separate-account fee.
'Override': use scalar input separate-account fee.
'Choose': respect input fund allocations.
However, there's no GUI for fund allocation yet, so, for the nonce,
the meanings in practice are:
'Average': allocate all payments to separate account.
'Choose': allocate all payments to general account.
Reason: the GUI, once it exists, will by default allocate all
payments to the general account if no separate-account funds are
selected.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Average fund"/>
      <xs:enumeration value="Override fund"/>
      <xs:enumeration value="Choose funds"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="run_order">
    <xs:annotation>
      <xs:documentation>Order in which different individuals in a census are processed.
By default, illustrations are created independently, in series:
one life at a time. Alternatively, all lives may be run together
in parallel, which requires more memory but permits them to affect
each other, as when individual charges depend on total case assets.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Life by life"/>
      <xs:enumeration value="Month by month"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="survival_limit">
    <xs:annotation>
      <xs:documentation>Presumed moment of death, for partial mortality.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="No survival limit"/>
      <xs:enumeration value="Survive to age limit"/>
      <xs:enumeration value="Survive to duration limit"/>
      <xs:enumeration value="Survive to life expectancy"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="term_adj_method">
    <xs:annotation>
      <xs:documentation>Order in which term and base are affected by changes in total
specified amount.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Adjust base first"/>
      <xs:enumeration value="Adjust term first"/>
      <xs:enumeration value="Adjust base and term proportionately"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="state">
    <xs:annotation>
      <xs:documentation>USPS two-letter abbreviations for the fifty US states, plus
  'DC' (District of Columbia)
  'PR' (Puerto Rico)
and 'XX', a fictitious state used for non-US business.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="AL"/>
      <xs:enumeration value="AK"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="AR"/>
      <xs:enumeration value="CA"/>
      <xs:enumeration value="CO"/>
      <xs:enumeration value="CT"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="DC"/>
      <xs:enumeration value="FL"/>
      <xs:enumeration value="GA"/>
      <xs:enumeration value="HI"/>
      <xs:enumeration value="ID"/>
      <xs:enumeration value="IL"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="IA"/>
      <xs:enumeration value="KS"/>
      <xs:enumeration value="KY"/>
      <xs:enumeration value="LA"/>
      <xs:enumeration value="ME"/>
      <xs:enumeration value="MD"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MI"/>
      <xs:enumeration value="MN"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MO"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="NV"/>
      <xs:enumeration value="NH"/>
      <xs:enumeration value="NJ"/>
      <xs:enumeration value="NM"/>
      <xs:enumeration value="NY"/>
      <xs:enumeration value="NC"/>
      <xs:enumeration value="ND"/>
      <xs:enumeration value="OH"/>
      <xs:enumeration value="OK"/>
      <xs:enumeration value="OR"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="RI"/>
      <xs:enumeration value="SC"/>
      <xs:enumeration value="SD"/>
      <xs:enumeration value="TN"/>
      <xs:enumeration value="TX"/>
      <xs:enumeration value="UT"/>
      <xs:enumeration value="VT"/>
      <xs:enumeration value="VA"/>
      <xs:enumeration value="WA"/>
      <xs:enumeration value="WV"/>
      <xs:enumeration value="WI"/>
      <xs:enumeration value="WY"/>
      <xs:enumeration value="XX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="country">
    <xs:annotation>
      <xs:documentation>International standard country code [ISO 3166-1-Alpha-2 as of 2000-08-21].</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="AD"/>
      <xs:enumeration value="AE"/>
      <xs:enumeration value="AF"/>
      <xs:enumeration value="AG"/>
      <xs:enumeration value="AI"/>
      <xs:enumeration value="AL"/>
      <xs:enumeration value="AM"/>
      <xs:enumeration value="AN"/>
      <xs:enumeration value="AO"/>
      <xs:enumeration value="AQ"/>
      <xs:enumeration value="AR"/>
      <xs:enumeration value="AS"/>
      <xs:enumeration value="AT"/>
      <xs:enumeration value="AU"/>
      <xs:enumeration value="AW"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="BA"/>
      <xs:enumeration value="BB"/>
      <xs:enumeration value="BD"/>
      <xs:enumeration value="BE"/>
      <xs:enumeration value="BF"/>
      <xs:enumeration value="BG"/>
      <xs:enumeration value="BH"/>
      <xs:enumeration value="BI"/>
      <xs:enumeration value="BJ"/>
      <xs:enumeration value="BM"/>
      <xs:enumeration value="BN"/>
      <xs:enumeration value="BO"/>
      <xs:enumeration value="BR"/>
      <xs:enumeration value="BS"/>
      <xs:enumeration value="BT"/>
      <xs:enumeration value="BV"/>
      <xs:enumeration value="BW"/>
      <xs:enumeration value="BY"/>
      <xs:enumeration value="BZ"/>
      <xs:enumeration value="CA"/>
      <xs:enumeration value="CC"/>
      <xs:enumeration value="CD"/>
      <xs:enumeration value="CF"/>
      <xs:enumeration value="CG"/>
      <xs:enumeration value="CH"/>
      <xs:enumeration value="CI"/>
      <xs:enumeration value="CK"/>
      <xs:enumeration value="CL"/>
      <xs:enumeration value="CM"/>
      <xs:enumeration value="CN"/>
      <xs:enumeration value="CO"/>
      <xs:enumeration value="CR"/>
      <xs:enumeration value="CU"/>
      <xs:enumeration value="CV"/>
      <xs:enumeration value="CX"/>
      <xs:enumeration value="CY"/>
      <xs:enumeration value="CZ"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="DJ"/>
      <xs:enumeration value="DK"/>
      <xs:enumeration value="DM"/>
      <xs:enumeration value="DO"/>
      <xs:enumeration value="DZ"/>
      <xs:enumeration value="EC"/>
      <xs:enumeration value="EE"/>
      <xs:enumeration value="EG"/>
      <xs:enumeration value="EH"/>
      <xs:enumeration value="ER"/>
      <xs:enumeration value="ES"/>
      <xs:enumeration value="ET"/>
      <xs:enumeration value="FI"/>
      <xs:enumeration value="FJ"/>
      <xs:enumeration value="FK"/>
      <xs:enumeration value="FM"/>
      <xs:enumeration value="FO"/>
      <xs:enumeration value="FR"/>
      <xs:enumeration value="GA"/>
      <xs:enumeration value="GB"/>
      <xs:enumeration value="GD"/>
      <xs:enumeration value="GE"/>
      <xs:enumeration value="GF"/>
      <xs:enumeration value="GH"/>
      <xs:enumeration value="GI"/>
      <xs:enumeration value="GL"/>
      <xs:enumeration value="GM"/>
      <xs:enumeration value="GN"/>
      <xs:enumeration value="GP"/>
      <xs:enumeration value="GQ"/>
      <xs:enumeration value="GR"/>
      <xs:enumeration value="GS"/>
      <xs:enumeration value="GT"/>
      <xs:enumeration value="GU"/>
      <xs:enumeration value="GW"/>
      <xs:enumeration value="GY"/>
      <xs:enumeration value="HK"/>
      <xs:enumeration value="HM"/>
      <xs:enumeration value="HN"/>
      <xs:enumeration value="HR"/>
      <xs:enumeration value="HT"/>
      <xs:enumeration value="HU"/>
      <xs:enumeration value="ID"/>
      <xs:enumeration value="IE"/>
      <xs:enumeration value="IL"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="IO"/>
      <xs:enumeration value="IQ"/>
      <xs:enumeration value="IR"/>
      <xs:enumeration value="IS"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="JM"/>
      <xs:enumeration value="JO"/>
      <xs:enumeration value="JP"/>
      <xs:enumeration value="KE"/>
      <xs:enumeration value="KG"/>
      <xs:enumeration value="KH"/>
      <xs:enumeration value="KI"/>
      <xs:enumeration value="KM"/>
      <xs:enumeration value="KN"/>
      <xs:enumeration value="KP"/>
      <xs:enumeration value="KR"/>
      <xs:enumeration value="KW"/>
      <xs:enumeration value="KY"/>
      <xs:enumeration value="KZ"/>
      <xs:enumeration value="LA"/>
      <xs:enumeration value="LB"/>
      <xs:enumeration value="LC"/>
      <xs:enumeration value="LI"/>
      <xs:enumeration value="LK"/>
      <xs:enumeration value="LR"/>
      <xs:enumeration value="LS"/>
      <xs:enumeration value="LT"/>
      <xs:enumeration value="LU"/>
      <xs:enumeration value="LV"/>
      <xs:enumeration value="LY"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MC"/>
      <xs:enumeration value="MD"/>
      <xs:enumeration value="MG"/>
      <xs:enumeration value="MH"/>
      <xs:enumeration value="MK"/>
      <xs:enumeration value="ML"/>
      <xs:enumeration value="MM"/>
      <xs:enumeration value="MN"/>
      <xs:enumeration value="MO"/>
      <xs:enumeration value="MP"/>
      <xs:enumeration value="MQ"/>
      <xs:enumeration value="MR"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="MU"/>
      <xs:enumeration value="MV"/>
      <xs:enumeration value="MW"/>
      <xs:enumeration value="MX"/>
      <xs:enumeration value="MY"/>
      <xs:enumeration value="MZ"/>
      <xs:enumeration value="NA"/>
      <xs:enumeration value="NC"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="NF"/>
      <xs:enumeration value="NG"/>
      <xs:enumeration value="NI"/>
      <xs:enumeration value="NL"/>
      <xs:enumeration value="NO"/>
      <xs:enumeration value="NP"/>
      <xs:enumeration value="NR"/>
      <xs:enumeration value="NU"/>
      <xs:enumeration value="NZ"/>
      <xs:enumeration value="OM"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PE"/>
      <xs:enumeration value="PF"/>
      <xs:enumeration value="PG"/>
      <xs:enumeration value="PH"/>
      <xs:enumeration value="PK"/>
      <xs:enumeration value="PL"/>
      <xs:enumeration value="PM"/>
      <xs:enumeration value="PN"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="PS"/>
      <xs:enumeration value="PT"/>
      <xs:enumeration value="PW"/>
      <xs:enumeration value="PY"/>
      <xs:enumeration value="QA"/>
      <xs:enumeration value="RE"/>
      <xs:enumeration value="RO"/>
      <xs:enumeration value="RU"/>
      <xs:enumeration value="RW"/>
      <xs:enumeration value="SA"/>
      <xs:enumeration value="SB"/>
      <xs:enumeration value="SC"/>
      <xs:enumeration value="SD"/>
      <xs:enumeration value="SE"/>
      <xs:enumeration value="SG"/>
      <xs:enumeration value="SH"/>
      <xs:enumeration value="SI"/>
      <xs:enumeration value="SJ"/>
      <xs:enumeration value="SK"/>
      <xs:enumeration value="SL"/>
      <xs:enumeration value="SM"/>
      <xs:enumeration value="SN"/>
      <xs:enumeration value="SO"/>
      <xs:enumeration value="SR"/>
      <xs:enumeration value="ST"/>
      <xs:enumeration value="SV"/>
      <xs:enumeration value="SY"/>
      <xs:enumeration value="SZ"/>
      <xs:enumeration value="TC"/>
      <xs:enumeration value="TD"/>
      <xs:enumeration value="TF"/>
      <xs:enumeration value="TG"/>
      <xs:enumeration value="TH"/>
      <xs:enumeration value="TJ"/>
      <xs:enumeration value="TK"/>
      <xs:enumeration value="TM"/>
      <xs:enumeration value="TN"/>
      <xs:enumeration value="TO"/>
      <xs:enumeration value="TP"/>
      <xs:enumeration value="TR"/>
      <xs:enumeration value="TT"/>
      <xs:enumeration value="TV"/>
      <xs:enumeration value="TW"/>
      <xs:enumeration value="TZ"/>
      <xs:enumeration value="UA"/>
      <xs:enumeration value="UG"/>
      <xs:enumeration value="UM"/>
      <xs:enumeration value="US"/>
      <xs:enumeration value="UY"/>
      <xs:enumeration value="UZ"/>
      <xs:enumeration value="VA"/>
      <xs:enumeration value="VC"/>
      <xs:enumeration value="VE"/>
      <xs:enumeration value="VG"/>
      <xs:enumeration value="VI"/>
      <xs:enumeration value="VN"/>
      <xs:enumeration value="VU"/>
      <xs:enumeration value="WF"/>
      <xs:enumeration value="WS"/>
      <xs:enumeration value="YE"/>
      <xs:enumeration value="YT"/>
      <xs:enumeration value="YU"/>
      <xs:enumeration value="ZA"/>
      <xs:enumeration value="ZM"/>
      <xs:enumeration value="ZW"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="defn_life_ins">
    <xs:annotation>
      <xs:documentation>7702 definitional test, if any.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="CVAT"/>
      <xs:enumeration value="GPT"/>
      <xs:enumeration value="Not 7702 compliant"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mec_avoid_method">
    <xs:annotation>
      <xs:documentation>Special logic, if any, to avoid a MEC. Formerly, another choice
tried to avoid a MEC by increasing the specified amount, but that
proved unworkable (e.g., because of underwriting).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Allow MEC"/>
      <xs:enumeration value="Reduce premium"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="defn_material_change">
    <xs:annotation>
      <xs:documentation>7702A definition of material change. For the nonce, use
"Earlier of" with CVAT, and "adjustment event" with GPT.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Unnecessary premium"/>
      <xs:enumeration value="Benefit increase"/>
      <xs:enumeration value="Later of increase or unnecessary premium"/>
      <xs:enumeration value="Earlier of increase or unnecessary premium"/>
      <xs:enumeration value="GPT adjustment event"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="from_point">
    <xs:annotation>
      <xs:documentation>Inclusive start of a half-open interval, used e.g. for input sequences.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Issue"/>
      <xs:enumeration value="Year"/>
      <xs:enumeration value="Age"/>
      <xs:enumeration value="Retirement"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="to_point">
    <xs:annotation>
      <xs:documentation>Exclusive end of a half-open interval used e.g. for input sequences.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Retirement"/>
      <xs:enumeration value="Year"/>
      <xs:enumeration value="Age"/>
      <xs:enumeration value="Maturity"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="report_column">
    <xs:annotation>
      <xs:documentation>Column on optional supplemental report.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="[none]"/>
      <xs:enumeration value="AttainedAge"/>
      <xs:enumeration value="PolicyYear"/>
      <xs:enumeration value="InforceLives"/>
      <xs:enumeration value="SpecAmt"/>
      <xs:enumeration value="TermSpecAmt"/>
      <xs:enumeration value="CorridorFactor"/>
      <xs:enumeration value="AnnGAIntRate_Current"/>
      <xs:enumeration value="AnnSAIntRate_Current"/>
      <xs:enumeration value="Outlay"/>
      <xs:enumeration value="EeGrossPmt"/>
      <xs:enumeration value="ErGrossPmt"/>
      <xs:enumeration value="NetWD"/>
      <xs:enumeration value="NewCashLoan"/>
      <xs:enumeration value="TotalLoanBalance_Current"/>
      <xs:enumeration value="TotalLoanBalance_Guaranteed"/>
      <xs:enumeration value="AcctVal_Current"/>
      <xs:enumeration value="AcctVal_Guaranteed"/>
      <xs:enumeration value="CSVNet_Current"/>
      <xs:enumeration value="CSVNet_Guaranteed"/>
      <xs:enumeration value="EOYDeathBft_Current"/>
      <xs:enumeration value="EOYDeathBft_Guaranteed"/>
      <xs:enumeration value="BaseDeathBft_Current"/>
      <xs:enumeration value="BaseDeathBft_Guaranteed"/>
      <xs:enumeration value="TermPurchased_Current"/>
      <xs:enumeration value="TermPurchased_Guaranteed"/>
      <xs:enumeration value="COICharge_Current"/>
      <xs:enumeration value="COICharge_Guaranteed"/>
      <xs:enumeration value="RiderCharges_Current"/>
      <xs:enumeration value="IrrCsv_Current"/>
      <xs:enumeration value="IrrCsv_Guaranteed"/>
      <xs:enumeration value="IrrDb_Current"/>
      <xs:enumeration value="IrrDb_Guaranteed"/>
      <xs:enumeration value="ExperienceReserve_Current"/>
      <xs:enumeration value="NetClaims_Current"/>
      <xs:enumeration value="NetCOICharge_Current"/>
      <xs:enumeration value="ProjectedCoiCharge_Current"/>
      <xs:enumeration value="KFactor_Current"/>
      <xs:enumeration value="GrossPmt"/>
      <xs:enumeration value="LoanIntAccrued_Current"/>
      <xs:enumeration value="NetDeathBenefit"/>
      <xs:enumeration value="DeathProceedsPaid_Current"/>
      <xs:enumeration value="ClaimsPaid_Current"/>
      <xs:enumeration value="AVRelOnDeath_Current"/>
      <xs:enumeration value="SpecAmtLoad_Current"/>
      <xs:enumeration value="GrossIntCredited_Current"/>
      <xs:enumeration value="NetIntCredited_Current"/>
      <xs:enumeration value="SepAcctCharges_Current"/>
      <xs:enumeration value="PolicyFee_Current"/>
      <xs:enumeration value="AVGenAcct_CurrentZero"/>
      <xs:enumeration value="AVGenAcct_GuaranteedZero"/>
      <xs:enumeration value="AVSepAcct_CurrentZero"/>
      <xs:enumeration value="AVSepAcct_GuaranteedZero"/>
      <xs:enumeration value="AcctVal_CurrentZero"/>
      <xs:enumeration value="AcctVal_GuaranteedZero"/>
      <xs:enumeration value="CSVNet_CurrentZero"/>
      <xs:enumeration value="CSVNet_GuaranteedZero"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
